/** map - items.css **/
.tile-map:before, .tile-map:after, .tile-map .bit-01, .tile-map .bit-01:before, .tile-map .bit-01:after, .tile-map .bit-02, .tile-map .bit-02:before, .tile-map .bit-02:after, .tile-map .bit-08:after, .tile-map .bit-09{
	background-color:var(--color-gold);
}
.tile-map .bit-06, .tile-map .bit-06:before, .tile-map .bit-06:after, .tile-map .bit-07, .tile-map .bit-07:before, .tile-map .bit-07:after, .tile-map .bit-08, .tile-map .bit-08:before{
	background-color:var(--color-red-orange);
}
.tile-map .bit-03, .tile-map .bit-03:before, .tile-map .bit-03:after, .tile-map .bit-04, .tile-map .bit-04:before, .tile-map .bit-04:after, .tile-map .bit-05, .tile-map .bit-05:before, .tile-map .bit-05:after{
	background-color:var(--color-white-true);
}
/** display:none;s **/
.tile-map .bit-09:before, .tile-map .bit-09:after{
	display:none;
}

.tile-map{background-color:#ff0;}


.tile-map:before{
	height:93.75%;
	width:18.75%;
	top:6.25%;
	left:31.25%;
}
.tile-map:after{
	height:31.25%;
	width:25%;
	top:6.25%;
	left:50%;
}
.tile-map .bit-01{
	top:0;
	left:25%;
}
.tile-map .bit-01:before{
	width:100%;
	height:400%;
	top:100%;
	left:0;
}
.tile-map .bit-01:after{
	width:100%;
	height:700%;
	left:0;
	top:600%;
}
.tile-map .bit-02{
	top:0%;
	left:31.25%;
}
.tile-map .bit-02:before{
	width:100%;
	height:200%;
	top:1400%;
	left:-100%;
}
.tile-map .bit-02:after{
	width:200%;
	height:100%;
	left:200%;
	top:0;
}
.tile-map .bit-03{
	top:93.75%;
	left:43.75%;
}
.tile-map .bit-03:before{
	width:100%;
	height:300%;
	top:-300%;
	left:100%;
}
.tile-map .bit-03:after{
	width:300%;
	height:400%;
	left:0;
	top:-700%;
}
.tile-map .bit-04{
	top:62.5%;
	left:31.25%;
}
.tile-map .bit-04:before{
	width:100%;
	height:200%;
	top:-100%;
	left:100%;
}
.tile-map .bit-04:after{
	width:300%;
	height:200%;
	left:300%;
	top:-300%;
}
.tile-map .bit-05{
	top:37.5%;
	left:56.25%;
}
.tile-map .bit-05:before{
	width:100%;
	height:200%;
	top:-100%;
	left:100%;
}
.tile-map .bit-05:after{
	width:100%;
	height:300%;
	left:200%;
	top:-300%;
}
.tile-map .bit-06{
	top:75%;
	left:31.25%;
}
.tile-map .bit-06:before{
	width:100%;
	height:100%;
	top:-500%;
	left:0;
}
.tile-map .bit-06:after{
	width:100%;
	height:100%;
	top:-500%;
	left:200%;
}
.tile-map .bit-07{
	top:75%;
	left:43.75%;
}
.tile-map .bit-07:before{
	width:100%;
	height:100%;
	top:-700%;
	left:-100%;
}
.tile-map .bit-07:after{
	width:100%;
	height:100%;
	top:-700%;
	left:100%;
}
.tile-map .bit-08{
	top:18.75%;
	left:56.25%;
}
.tile-map .bit-08:before{
	width:200%;
	height:100%;
	top:0;
	left:-300%;
}
.tile-map .bit-08:after{
	width:200%;
	height:100%;
	top:-300%;
	left:100%;
}
.tile-map .bit-09{
	top:37.5%;
	left:50%;
}