.tile-rock-middle-top .bit-04, .tile-rock-middle-top .bit-04:before, .tile-rock-middle-top .bit-04:after, .tile-rock-middle-top .bit-05, .tile-rock-middle-top .bit-05:before, .tile-rock-middle-top .bit-05:after,
.tile-rock-middle-top .bit-06, .tile-rock-middle-top .bit-06:before, .tile-rock-middle-top .bit-06:after, .tile-rock-middle-top .bit-07, .tile-rock-middle-top .bit-07:before, .tile-rock-middle-top .bit-07:after,
.tile-rock-middle-top .bit-08, .tile-rock-middle-top .bit-08:before, .tile-rock-middle-top .bit-08:after, .tile-rock-middle-top .bit-09, .tile-rock-middle-top .bit-09:before, .tile-rock-middle-top .bit-09:after,
.tile-rock-middle-top .bit-10, .tile-rock-middle-top .bit-10:before, .tile-rock-middle-top .bit-10:after, .tile-rock-middle-top .bit-11, .tile-rock-middle-top .bit-11:before, .tile-rock-middle-top .bit-11:after,
.tile-rock-middle-top .bit-12{	background-color: var(--color-black);
}
.tile-rock-middle-top.rock-brown:before, .tile-rock-middle-top.rock-brown:after, .tile-rock-middle-top.rock-brown .bit-01, .tile-rock-middle-top.rock-brown .bit-01:before, .tile-rock-middle-top.rock-brown .bit-01:after, .tile-rock-middle-top.rock-brown .bit-02, .tile-rock-middle-top.rock-brown .bit-02:before,
.tile-rock-middle-top.rock-brown .bit-02:after, .tile-rock-middle-top.rock-brown .bit-03, .tile-rock-middle-top.rock-brown .bit-03:before, .tile-rock-middle-top.rock-brown .bit-03:after, .tile-rock-middle-top.rock-brown .bit-12:before, .tile-rock-middle-top.rock-brown .bit-12:after,
.tile-rock-middle-top.rock-brown .bit-13{
	background-color: var(--color-brown);
}
.tile-rock-middle-top.rock-green:before, .tile-rock-middle-top.rock-green:after, .tile-rock-middle-top.rock-green .bit-01, .tile-rock-middle-top.rock-green .bit-01:before, .tile-rock-middle-top.rock-green .bit-01:after, .tile-rock-middle-top.rock-green .bit-02, .tile-rock-middle-top.rock-green .bit-02:before,
.tile-rock-middle-top.rock-green .bit-02:after, .tile-rock-middle-top.rock-green .bit-03, .tile-rock-middle-top.rock-green .bit-03:before, .tile-rock-middle-top.rock-green .bit-03:after, .tile-rock-middle-top.rock-green .bit-12:before, .tile-rock-middle-top.rock-green .bit-12:after,
.tile-rock-middle-top.rock-green .bit-13{
	background-color: var(--color-green);
}
.tile-rock-middle-top.rock-grey:before, .tile-rock-middle-top.rock-grey:after, .tile-rock-middle-top.rock-grey .bit-01, .tile-rock-middle-top.rock-grey .bit-01:before, .tile-rock-middle-top.rock-grey .bit-01:after, .tile-rock-middle-top.rock-grey .bit-02, .tile-rock-middle-top.rock-grey .bit-02:before,
.tile-rock-middle-top.rock-grey .bit-02:after, .tile-rock-middle-top.rock-grey .bit-03, .tile-rock-middle-top.rock-grey .bit-03:before, .tile-rock-middle-top.rock-grey .bit-03:after, .tile-rock-middle-top.rock-grey .bit-12:before, .tile-rock-middle-top.rock-grey .bit-12:after,
.tile-rock-middle-top.rock-grey .bit-13{
	background-color: var(--color-white);
}
.tile-rock-middle-top.rock-grottoes:before, .tile-rock-middle-top.rock-grottoes:after, .tile-rock-middle-top.rock-grottoes .bit-01, .tile-rock-middle-top.rock-grottoes .bit-01:before, .tile-rock-middle-top.rock-grottoes .bit-01:after, .tile-rock-middle-top.rock-grottoes .bit-02, .tile-rock-middle-top.rock-grottoes .bit-02:before,
.tile-rock-middle-top.rock-grottoes .bit-02:after, .tile-rock-middle-top.rock-grottoes .bit-03, .tile-rock-middle-top.rock-grottoes .bit-03:before, .tile-rock-middle-top.rock-grottoes .bit-03:after, .tile-rock-middle-top.rock-grottoes .bit-12:before, .tile-rock-middle-top.rock-grottoes .bit-12:after,
.tile-rock-middle-top.rock-grottoes .bit-13{
	background-color: var(--color-red-grottoes);
}
.tile-rock-middle-top.rock-grottoes{
	background-color: var(--color-black);
}
.tile-rock-middle-top.rock-brown,
.tile-rock-middle-top.rock-green{
	background-color: var(--color-khaki);
}
.tile-rock-middle-top.rock-grey{
	background-color: var(--color-grey);
}
.tile-rock-middle-top:before{
	width:37.5%;
	height:93.75%;
	top:6.25%;
	left:6.25%;
}
.tile-rock-middle-top:after{
	width:25%;
	height:81.25%;
	left:62.5%;
	top:18.75%;
}
.tile-rock-middle-top .bit-01{
	left:0;
	top:12.5%;
}
.tile-rock-middle-top .bit-01:before{
	height:300%;
	width:100%;
	top:600%;
	left:0;
}
.tile-rock-middle-top .bit-01:after{
	height:100%;
	width:200%;
	top:-200%;
	left:200%;
}
.tile-rock-middle-top .bit-02{
	left:68.75%;
	top:6.25%;
}
.tile-rock-middle-top .bit-02:before{
	height:200%;
	width:100%;
	top:400%;
	left:300%;
}
.tile-rock-middle-top .bit-02:after{
	height:200%;
	width:100%;
	top:1100%;
	left:300%;
}
.tile-rock-middle-top .bit-03{
	left:0;
	top:81.25%;
}
.tile-rock-middle-top .bit-03:before{
	left:900%;
	top:-1000%;
	width:100%;
	height:1000%;
}
.tile-rock-middle-top .bit-03:after{
	left:800%;
	top:100%;
	width:200%;
	height:200%;
}
.tile-rock-middle-top .bit-04{
	left:0;
	top:43.75%;
}
.tile-rock-middle-top .bit-04:before{
	left:400%;
	top:-700%;
	width:200%;
	height:100%;
}
.tile-rock-middle-top .bit-04:after{
	left:500%;
	top:-600%;
	width:200%;
	height:100%;
}
.tile-rock-middle-top .bit-05{
	left:0;
	top:75%;
}
.tile-rock-middle-top .bit-05:before{
	left:600%;
	top:-1100%;
	width:100%;
	height:700%;
}
.tile-rock-middle-top .bit-05:after{
	left:600%;
	top:-200%;
	width:100%;
	height:600%;
}
.tile-rock-middle-top .bit-06{
	left:31.25%;
	top:87.5%;
}
.tile-rock-middle-top .bit-06:before{
	left:-500%;
	top:0;
	width:100%;
	height:200%;
}
.tile-rock-middle-top .bit-06:after{
	left:-300%;
	top:100%;
	width:200%;
	height:100%;
}
.tile-rock-middle-top .bit-07{
	left:31.25%;
	top:31.25%;
}
.tile-rock-middle-top .bit-07:before{
	left:200%;
	top:-200%;
	width:100%;
	height:400%;
}
.tile-rock-middle-top .bit-07:after{
	left:200%;
	top:600%;
	width:100%;
	height:300%;
}
.tile-rock-middle-top .bit-08{
	left:50%;
	top:25%;
}
.tile-rock-middle-top .bit-08:before{
	left:700%;
	top:100%;
	width:100%;
	height:300%;
}
.tile-rock-middle-top .bit-08:after{
	left:700%;
	top:700%;
	width:100%;
	height:500%;
}
.tile-rock-middle-top .bit-09{
	left:50%;
	top:75%;
}
.tile-rock-middle-top .bit-09:before{
	left:200%;
	top:100%;
	width:200%;
	height:100%;
}
.tile-rock-middle-top .bit-09:after{
	left:400%;
	top:200%;
	width:100%;
	height:200%;
}
.tile-rock-middle-top .bit-10{
	left:87.5%;
	top:87.5%;
}
.tile-rock-middle-top .bit-10:before{
	left:0;
	top:-700%;
	width:100%;
	height:500%;
}
.tile-rock-middle-top .bit-10:after{
	left:-100%;
	top:-500%;
	width:100%;
	height:200%;
}
.tile-rock-middle-top .bit-11{
	top:93.75%;
	left:68.75%;
}
.tile-rock-middle-top .bit-11:before{
	left:200%;
	top:-1300%;
	width:100%;
	height:100%;
}
.tile-rock-middle-top .bit-11:after{
	left:300%;
	top:-1200%;
	width:100%;
	height:200%;
}
.tile-rock-middle-top .bit-12{
	top:6.25%;
	left:75%;
}
.tile-rock-middle-top .bit-12:before{
	left:-200%;
	top:100%;
	width:300%;
	height:100%;
}
.tile-rock-middle-top .bit-12:after{
	left:-400%;
	top:700%;
	width:100%;
	height:300%;
}
.tile-rock-middle-top .bit-13,
.tile-0308 .bit-13,
.tile-0314 .bit-13{
	top:93.75%;
	left:87.5%;
}