.tile-0807:before{
	width:18.75%;
	height:50%;
	left:0;
	top:0;
}
.tile-0807:after{
	width:12.5%;
	height:18.75%;
	top:0;
	left:18.75%;
}
.tile-0807 .bit-01{
	top:6.25%;
	left:31.25%;
}
.tile-0807 .bit-01:before{
	width:300%;
	height:100%;
	left:0;
	top:-100%;
}
.tile-0807 .bit-01:after{
	width:100%;
	height:300%;
	top:700%;
	left:-500%;
}
.tile-0807 .bit-02{
	top:0;
	left:18.75%;
}
.tile-0807 .bit-02:before{
	width:100%;
	height:100%;
	left:-200%;
	top:300%;
}
.tile-0807 .bit-02:after{
	width:100%;
	height:100%;
	top:700%;
	left:-300%;
}
.tile-0807 .bit-03{
	top:31.25%;
	left:25%;
}
.tile-0807 .bit-03:before{
	width:100%;
	height:300%;
	left:-100%;
	top:-100%;
}
.tile-0813:before{
	width:18.75%;
	height:50%;
	left:0;
	top:0;
}
.tile-0813:after{
	width:12.5%;
	height:18.75%;
	top:0;
	left:18.75%;
}
.tile-0813 .bit-01{
	top:6.25%;
	left:31.25%;
}
.tile-0813 .bit-01:before{
	width:300%;
	height:100%;
	left:0;
	top:-100%;
}
.tile-0813 .bit-01:after{
	width:100%;
	height:300%;
	top:700%;
	left:-500%;
}
.tile-0813 .bit-02{
	top:0;
	left:18.75%;
}
.tile-0813 .bit-02:before{
	width:100%;
	height:100%;
	left:-200%;
	top:300%;
}
.tile-0813 .bit-02:after{
	width:100%;
	height:100%;
	top:700%;
	left:-300%;
}
.tile-0813 .bit-03{
	top:31.25%;
	left:25%;
}
.tile-0813 .bit-03:before{
	width:100%;
	height:300%;
	left:-100%;
	top:-100%;
}
.tile-0808:before{
	height:6.25%;
	width:50%;
	top:0;
	left:50%;
}
.tile-0808:after{
	height:62.5%;
	width:6.25%;
	top:0;
	left:93.75%;
}
.tile-0808 .bit-01{
	top:6.25%;
	left:56.25%;
}
.tile-0808 .bit-01:before{
	top:0;
	left:300%;
	width:200%;
	height:200%;
}
.tile-0808 .bit-01:after{
	top:0;
	left:500%;
	width:100%;
	height:600%;
}
.tile-0808 .bit-02{
	top:0;
	left:81.25%;
}
.tile-0808 .bit-02:before{
	top:400%;
	left:200%;
	width:100%;
	height:100%;
}
.tile-0808 .bit-02:after{
	top:800%;
	left:100%;
	width:100%;
	height:200%;
}
.tile-0808 .bit-03{
	top:56.25%;
	left:81.25%;
}
.tile-0814:before{
	height:6.25%;
	width:50%;
	top:0;
	left:50%;
}
.tile-0814:after{
	height:62.5%;
	width:6.25%;
	top:0;
	left:93.75%;
}
.tile-0814 .bit-01{
	top:6.25%;
	left:56.25%;
}
.tile-0814 .bit-01:before{
	top:0;
	left:300%;
	width:200%;
	height:200%;
}
.tile-0814 .bit-01:after{
	top:0;
	left:500%;
	width:100%;
	height:600%;
}
.tile-0814 .bit-02{
	top:0;
	left:81.25%;
}
.tile-0814 .bit-02:before{
	top:400%;
	left:200%;
	width:100%;
	height:100%;
}
.tile-0814 .bit-02:after{
	top:800%;
	left:100%;
	width:100%;
	height:200%;
}
.tile-0814 .bit-03{
	top:56.25%;
	left:81.25%;
}
.tile-0809:before{
	width:12.5%;
	height:56.25%;
	top:43.75%;
	left:0;
}
.tile-0809:after{
	height:25%;
	width:6.25%;
	top:75%;
	left:12.5%;
}
.tile-0809 .bit-01{
	top:93.75%;
	left:18.75%;
}
.tile-0809 .bit-01:before{
	top:0;
	left:100%;
	width:200%;
	height:100%;
}
.tile-0809 .bit-01:after{
	height:300%;
	left:-300%;
	width:100%;
	top:-1100%;
}
.tile-0809 .bit-02{
	top:68.75%;
	left:12.5%;
}
.tile-0809 .bit-02:before{
	top:-400%;
	left:-100%;
	width:100%;
	height:400%;
}
.tile-0809 .bit-02:after{
	height:400%;
	left:100%;
	width:100%;
	top:0;
}
.tile-0809 .bit-03{
	top:87.5%;
	left:37.5%;
}
.tile-0809 .bit-03:before{
	top:-100%;
	left:-200%;
	width:200%;
	height:200%;
}
.tile-0809 .bit-03:after{
	height:100%;
	left:0;
	width:200%;
	top:100%;
}
.tile-0809 .bit-04{
	left:0;
	top:68.75%;
}
.tile-0809 .bit-04:before{
	top:300%;
	left:100%;
	height:100%;
	width:100%;
}
.tile-0815:before{
	width:12.5%;
	height:56.25%;
	top:43.75%;
	left:0;
}
.tile-0815:after{
	height:25%;
	width:6.25%;
	top:75%;
	left:12.5%;
}
.tile-0815 .bit-01{
	top:93.75%;
	left:18.75%;
}
.tile-0815 .bit-01:before{
	top:0;
	left:100%;
	width:200%;
	height:100%;
}
.tile-0815 .bit-01:after{
	height:300%;
	left:-300%;
	width:100%;
	top:-1100%;
}
.tile-0815 .bit-02{
	top:68.75%;
	left:12.5%;
}
.tile-0815 .bit-02:before{
	top:-400%;
	left:-100%;
	width:100%;
	height:400%;
}
.tile-0815 .bit-02:after{
	height:400%;
	left:100%;
	width:100%;
	top:0;
}
.tile-0815 .bit-03{
	top:87.5%;
	left:37.5%;
}
.tile-0815 .bit-03:before{
	top:-100%;
	left:-200%;
	width:200%;
	height:200%;
}
.tile-0815 .bit-03:after{
	height:100%;
	left:0;
	width:200%;
	top:100%;
}
.tile-0815 .bit-04{
	left:0;
	top:68.75%;
}
.tile-0815 .bit-04:before{
	top:300%;
	left:100%;
	height:100%;
	width:100%;
}
.tile-0810:before{
	width:6.25%;
	height:56.25%;
	top:43.75%;
	left:93.75%;
}
.tile-0810:after{
	width:12.5%;
	height:37.5%;
	top:62.5%;
	left:81.25%;
}
.tile-0810 .bit-01{
	top:93.75%;
	left:68.75%;
}
.tile-0810 .bit-01:before{
	width:100%;
	height:100%;
	top:0;
	left:100%;
}
.tile-0810 .bit-01:after{
	width:300%;
	height:100%;
	top:0;
	left:-300%;
}
.tile-0810 .bit-02{
	top:81.25%;
	left:62.5%;
}
.tile-0810 .bit-02:before{
	width:200%;
	height:200%;
	top:0;
	left:100%;
}
.tile-0810 .bit-02:after{
	width:100%;
	height:300%;
	top:-300%;
	left:300%;
}
.tile-0810 .bit-03{
	top:37.5%;
	left:93.75%;
}
.tile-0810 .bit-03:before{
	width:100%;
	height:100%;
	top:100%;
	left:-100%;
}
.tile-0810 .bit-03:after{
	width:100%;
	height:100%;
	top:300%;
	left:-100%;
}
.tile-0810 .bit-04{
	top:93.75%;
	left:93.75%;
}
.tile-0810 .bit-04:before{
	width:100%;
	height:100%;
	top:-400%;
	left:0;
}
.tile-0816:before{
	width:6.25%;
	height:56.25%;
	top:43.75%;
	left:93.75%;
}
.tile-0816:after{
	width:12.5%;
	height:37.5%;
	top:62.5%;
	left:81.25%;
}
.tile-0816 .bit-01{
	top:93.75%;
	left:68.75%;
}
.tile-0816 .bit-01:before{
	width:100%;
	height:100%;
	top:0;
	left:100%;
}
.tile-0816 .bit-01:after{
	width:300%;
	height:100%;
	top:0;
	left:-300%;
}
.tile-0816 .bit-02{
	top:81.25%;
	left:62.5%;
}
.tile-0816 .bit-02:before{
	width:200%;
	height:200%;
	top:0;
	left:100%;
}
.tile-0816 .bit-02:after{
	width:100%;
	height:300%;
	top:-300%;
	left:300%;
}
.tile-0816 .bit-03{
	top:37.5%;
	left:93.75%;
}
.tile-0816 .bit-03:before{
	width:100%;
	height:100%;
	top:100%;
	left:-100%;
}
.tile-0816 .bit-03:after{
	width:100%;
	height:100%;
	top:300%;
	left:-100%;
}
.tile-0816 .bit-04{
	top:93.75%;
	left:93.75%;
}
.tile-0816 .bit-04:before{
	width:100%;
	height:100%;
	top:-400%;
	left:0;
}
.tile-0805:before{
	left:12.5%;
	height:12.5%;
	top:0;
	width:87.5%;
}
.tile-0805:after{
	left:0;
	height:12.5%;
	top:87.5%;
	width:100%;
}
.tile-0805 .bit-01{
	top:43.75%;
	left:6.25%;
}
.tile-0805 .bit-01:before{
	width:200%;
	height:600%;
	left:-100%;
	top:100%;
}
.tile-0805 .bit-01:after{
	width:200%;
	height:600%;
	left:200%;
	top:100%;
}
.tile-0805 .bit-02{
	top:56.25%;
	left:31.25%;
}
.tile-0805 .bit-02:before{
	width:100%;
	height:300%;
	left:-300%;
	top:0;
}
.tile-0805 .bit-02:after{
	width:100%;
	height:600%;
	left:100%;
	top:-200%;
}
.tile-0805 .bit-03{
	top:81.25%;
	left:12.5%;
}
.tile-0805 .bit-03:before{
	width:400%;
	height:100%;
	left:200%;
	top:0;
}
.tile-0805 .bit-03:after{
	width:600%;
	height:100%;
	left:700%;
	top:0;
}
.tile-0805 .bit-04{
	top:6.25%;
	left:0;
}
.tile-0805 .bit-04:before{
	width:200%;
	height:200%;
	left:200%;
	top:100%;
}
.tile-0805 .bit-04:after{
	width:1000%;
	height:100%;
	left:500%;
	top:100%;
}
.tile-0805 .bit-05{
	top:25%;
	left:18.75%;
}
.tile-0805 .bit-05:before{
	width:100%;
	height:200%;
	left:0;
	top:200%;
}
.tile-0805 .bit-05:after{
	width:1000%;
	height:300%;
	left:300%;
	top:600%;
}
.tile-0805 .bit-06{
	top:18.75%;
	left:31.25%;
}
.tile-0805 .bit-06:before{
	width:100%;
	height:200%;
	left:200%;
	top:0;
}
.tile-0805 .bit-06:after{
	width:100%;
	height:200%;
	left:500%;
	top:0;
}
.tile-0805 .bit-07{
	top:0;
	left:0;
}
.tile-0805 .bit-07:before{
	width:100%;
	height:700%;
	left:1200%;
	top:300%;
}
.tile-0805 .bit-07:after{
	width:500%;
	height:200%;
	left:800%;
	top:800%;
}
.tile-0805 .bit-08{
	top:25%;
	left:81.25%;
}
.tile-0805 .bit-08:before{
	width:200%;
	height:100%;
	left:0;
	top:200%;
}
.tile-0805 .bit-08:after{
	width:200%;
	height:100%;
	left:100%;
	top:500%;
}
.tile-0805 .bit-09{
	top:43.75%;
	left:68.75%;
}
.tile-0805 .bit-09:before{
	width:100%;
	height:200%;
	left:300%;
	top:0;
}
.tile-0805 .bit-09:after{
	width:100%;
	height:200%;
	left:-200%;
	top:-100%;
}
.tile-0805 .bit-10{
	top:18.75%;
	left:0;
}
.tile-0805 .bit-10:before{
	width:100%;
	height:300%;
	top:0;
	left:100%;
}
.tile-0805 .bit-10:after{
	height:400%;
	width:100%;
	top:-300%;
	left:800%;
}
.tile-0805 .bit-11{
	top:25%;
	left:25%;
}
.tile-0805 .bit-11:before{
	width:100%;
	height:200%;
	top:0;
	left:500%;
}
.tile-0805 .bit-11:after{
	height:200%;
	width:100%;
	top:0;
	left:1100%;
}
.tile-0805 .bit-12{
	top:31.25%;
	left:37.5%;
}
.tile-0805 .bit-12:before{
	width:100%;
	height:100%;
	top:-200%;
	left:500%;
}
.tile-0805 .bit-12:after{
	height:200%;
	width:100%;
	top:-400%;
	left:700%;
}
.tile-0805 .bit-13{
	top:12.5%;
	left:56.25%;
}
.tile-0805 .bit-13:before{
	width:100%;
	height:200%;
	top:-200%;
	left:200%;
}
.tile-0805 .bit-13:after{
	height:200%;
	width:100%;
	top:-100%;
	left:-400%;
}
.tile-0805 .bit-14{
	top:50%;
	left:68.75%;
}
.tile-0805 .bit-14:before{
	width:100%;
	height:300%;
	top:0;
	left:-200%;
}
.tile-0805 .bit-14:after{
	height:200%;
	width:100%;
	top:200%;
	left:-800%;
}
.tile-0811:before{
	width:100%;
	height:62.5%;
	top:6.25%;
	left:0;
}
.tile-0811:after{
	width:87.5%;
	height:18.75%;
	top:81.25%;
	left:6.25%;
}

.tile-0811 .bit-01{
	top:75%;
	left:0;
}
.tile-0811 .bit-01:before{
	width:200%;
	height:200%;
	top:0;
	left:200%;
}
.tile-0811 .bit-01:after{
	width:200%;
	height:200%;
	top:0;
	left:1200%;
}
.tile-0811 .bit-02{
	top:75%;
	left:93.75%;
}
.tile-0811 .bit-02:before{
	width:100%;
	height:200%;
	top:200%;
	left:-1200%;
}
.tile-0811 .bit-02:after{
	width:100%;
	height:200%;
	top:200%;
	left:-300%;
}
.tile-0811 .bit-03{
	top:68.75%;
	left:93.75%;
}
.tile-0811 .bit-03:before{
	width:100%;
	height:100%;
	top:0;
	left:-100%;
}
.tile-0811 .bit-03:after{
	width:200%;
	height:100%;
	top:0;
	left:-1500%;
}
.tile-0811 .bit-04{
	top:93.75%;
	left:0;
}
.tile-0811 .bit-04:before{
	width:100%;
	height:100%;
	top:0;
	left:1500%;
}
.tile-0811 .bit-04:after{
	width:800%;
	height:100%;
	top:-300%;
	left:400%;
}
.tile-0811 .bit-05{
	top:12.5%;
	left:31.25%;
}
.tile-0811 .bit-05:before{
	width:700%;
	height:100%;
	top:500%;
	left:-500%;
}
.tile-0811 .bit-05:after{
	width:700%;
	height:100%;
	top:800%;
	left:-500%;
}
.tile-0811 .bit-06{
	top:12.5%;
	left:68.75%;
}
.tile-0811 .bit-06:before{
	width:600%;
	height:100%;
	top:500%;
	left:-100%;
}
.tile-0811 .bit-06:after{
	width:600%;
	height:100%;
	top:800%;
	left:-100%;
}
.tile-0811 .bit-07{
	top:31.25%;
	left:93.75%;
}
.tile-0811 .bit-07:before{
	width:300%;
	height:100%;
	top:300%;
	left:-1300%;
}
.tile-0811 .bit-07:after{
	width:300%;
	height:100%;
	top:300%;
	left:-400%;
}
.tile-0811 .bit-08{
	top:50%;
	left:43.75%;
}
.tile-0811 .bit-08:before{
	width:600%;
	height:100%;
	top:-500%;
	left:-100%;
}
.tile-0811 .bit-08:after{
	width:100%;
	height:100%;
	top:100%;
	left:0;
}
.tile-0811 .bit-09{
	top:37.5%;
	left:37.5%;
}
.tile-0811 .bit-09:before{
	width:100%;
	height:100%;
	top:-100%;
	left:0;
}
.tile-0811 .bit-09:after{
	width:100%;
	height:500%;
	top:-100%;
	left:300%;
}
.tile-0811 .bit-10{
	top:31.25%;
	left:0;
}
.tile-0811 .bit-10:before{
	width:500%;
	height:100%;
	top:-100%;
	left:100%;
}
.tile-0811 .bit-10:after{
	width:500%;
	height:100%;
	top:-100%;
	left:1000%;
}
.tile-0811 .bit-11{
	top:6.25%;
	left:0;
}
.tile-0811 .bit-11:before{
	width:500%;
	height:100%;
	top:0;
	left:100%;
}
.tile-0811 .bit-11:after{
	width:600%;
	height:100%;
	top:-100%;
	left:500%;
}
.tile-0811 .bit-12{
	top:6.25%;
	left:93.75%;
}
.tile-0811 .bit-12:before{
	width:400%;
	height:100%;
	top:0;
	left:-400%;
}
.tile-0812:before{
	height:87.5%;
	width:100%;
	top:6.25%;
	left:0;
}
.tile-0812:after{
	height:6.25%;
	width:43.75%;
	top:93.75%;
	left:6.25%;
}
.tile-0812 .bit-01{
	left:93.75%;
	top:93.75%;
}
.tile-0812 .bit-01:before{
	width:700%;
	top:-1500%;
	left:-1500%;
	height:1500%;
}
.tile-0812 .bit-01:after{
	width:700%;
	top:-1500%;
	left:-700%;
	height:1500%;
}
.tile-0812 .bit-02{
	left:87.5%;
	top:93.75%;
}
.tile-0812 .bit-02:before{
	width:100%;
	top:-200%;
	left:-100%;
	height:100%;
}
.tile-0812 .bit-02:after{
	width:100%;
	top:-200%;
	left:-500%;
	height:100%;
}
.tile-0812 .bit-03{
	left:81.25%;
	top:93.75%;
}
.tile-0812 .bit-03:before{
	width:100%;
	top:-200%;
	left:-400%;
	height:100%;
}
.tile-0812 .bit-03:after{
	width:100%;
	top:-200%;
	left:-800%;
	height:100%;
}
.tile-0812 .bit-04{
	left:75%;
	top:93.75%;
}
.tile-0812 .bit-04:before{
	width:100%;
	top:-200%;
	left:-1100%;
	height:100%;
}
.tile-0812 .bit-04:after{
	width:100%;
	top:-1400%;
	left:100%;
	height:100%;
}
.tile-0812 .bit-05{
	left:6.25%;
	top:6.25%;
}
.tile-0812 .bit-05:before{
	width:100%;
	top:0;
	left:400%;
	height:100%;
}
.tile-0812 .bit-05:after{
	width:100%;
	top:0;
	left:800%;
	height:100%;
}
.tile-0812 .bit-06{
	left:56.25%;
	top:93.75%;
}
.tile-0812 .bit-06:before{
	width:200%;
	top:0;
	left:100%;
	height:100%;
}
.tile-0818:before{
	height:87.5%;
	width:100%;
	top:6.25%;
	left:0;
}
.tile-0818:after{
	height:6.25%;
	width:43.75%;
	top:93.75%;
	left:6.25%;
}
.tile-0818 .bit-01{
	left:93.75%;
	top:93.75%;
}
.tile-0818 .bit-01:before{
	width:700%;
	top:-1500%;
	left:-1500%;
	height:1500%;
}
.tile-0818 .bit-01:after{
	width:700%;
	top:-1500%;
	left:-700%;
	height:1500%;
}
.tile-0818 .bit-02{
	left:87.5%;
	top:93.75%;
}
.tile-0818 .bit-02:before{
	width:100%;
	top:-200%;
	left:-100%;
	height:100%;
}
.tile-0818 .bit-02:after{
	width:100%;
	top:-200%;
	left:-500%;
	height:100%;
}
.tile-0818 .bit-03{
	left:81.25%;
	top:93.75%;
}
.tile-0818 .bit-03:before{
	width:100%;
	top:-200%;
	left:-400%;
	height:100%;
}
.tile-0818 .bit-03:after{
	width:100%;
	top:-200%;
	left:-800%;
	height:100%;
}
.tile-0818 .bit-04{
	left:75%;
	top:93.75%;
}
.tile-0818 .bit-04:before{
	width:100%;
	top:-200%;
	left:-1100%;
	height:100%;
}
.tile-0818 .bit-04:after{
	width:100%;
	top:-1400%;
	left:100%;
	height:100%;
}
.tile-0818 .bit-05{
	left:6.25%;
	top:6.25%;
}
.tile-0818 .bit-05:before{
	width:100%;
	top:0;
	left:400%;
	height:100%;
}
.tile-0818 .bit-05:after{
	width:100%;
	top:0;
	left:800%;
	height:100%;
}
.tile-0818 .bit-06{
	left:56.25%;
	top:93.75%;
}
.tile-0818 .bit-06:before{
	width:200%;
	top:0;
	left:100%;
	height:100%;
}