.tile-rock-middle .bit-06, .tile-rock-middle .bit-06:before, .tile-rock-middle .bit-06:after, .tile-rock-middle .bit-07, .tile-rock-middle .bit-07:before, .tile-rock-middle .bit-07:after,
.tile-rock-middle .bit-08, .tile-rock-middle .bit-08:before, .tile-rock-middle .bit-08:after, .tile-rock-middle .bit-09, .tile-rock-middle .bit-09:before, .tile-rock-middle .bit-09:after,
.tile-rock-middle .bit-10, .tile-rock-middle .bit-10:before, .tile-rock-middle .bit-10:after, .tile-rock-middle .bit-11, .tile-rock-middle .bit-11:before, .tile-rock-middle .bit-11:after,
.tile-rock-middle .bit-12, .tile-rock-middle .bit-12:before, .tile-rock-middle .bit-12:after, .tile-rock-middle .bit-13, .tile-rock-middle .bit-13:before, .tile-rock-middle .bit-13:after, 
.tile-rock-middle .bit-14, .tile-rock-middle .bit-14:before{
	background-color: var(--color-black);
}
.tile-rock-middle.rock-brown .bit-14:after, .tile-rock-middle.rock-brown .bit-15:after, .tile-rock-middle.rock-brown:before, .tile-rock-middle.rock-brown:after, .tile-rock-middle.rock-brown .bit-01, .tile-rock-middle.rock-brown .bit-01:before, .tile-rock-middle.rock-brown .bit-01:after{
	background-color: var(--color-brown);
}
.tile-rock-middle.rock-green .bit-14:after, .tile-rock-middle.rock-green .bit-15:after, .tile-rock-middle.rock-green:before, .tile-rock-middle.rock-green:after, .tile-rock-middle.rock-green .bit-01, .tile-rock-middle.rock-green .bit-01:before, .tile-rock-middle.rock-green .bit-01:after{
	background-color: var(--color-green);
}
.tile-rock-middle.rock-grey .bit-14:after, .tile-rock-middle.rock-grey .bit-15:after,.tile-rock-middle.rock-grey .bit-01, .tile-rock-middle.rock-grey .bit-01:before, .tile-rock-middle.rock-grey .bit-01:after{
	background-color: var(--color-white);
}


.tile-rock-middle.rock-grottoes .bit-14:after, .tile-rock-middle.rock-grottoes .bit-15:after, .tile-rock-middle.rock-grottoes:before, .tile-rock-middle.rock-grottoes:after, .tile-rock-middle.rock-grottoes .bit-01, .tile-rock-middle.rock-grottoes .bit-01:before, .tile-rock-middle.rock-grottoes .bit-01:after{
	background-color: var(--color-red-grottoes);
}
.tile-rock-middle.rock-brown,.tile-rock-middle.rock-green,.tile-rock-middle.rock-brown,.tile-rock-middle.rock-brown .bit-15, .tile-rock-middle.rock-brown .bit-15:before, .tile-rock-middle.rock-brown .bit-02, .tile-rock-middle.rock-brown .bit-02:before, .tile-rock-middle.rock-brown .bit-02:after, .tile-rock-middle.rock-brown .bit-03,
.tile-rock-middle.rock-brown .bit-03:before, .tile-rock-middle.rock-brown .bit-03:after, .tile-rock-middle.rock-brown .bit-04, .tile-rock-middle.rock-brown .bit-04:before, .tile-rock-middle.rock-brown .bit-04:after,
.tile-rock-middle.rock-brown .bit-05, .tile-rock-middle.rock-brown .bit-05:before, .tile-rock-middle.rock-brown .bit-05:after,
.tile-rock-middle.rock-green,.tile-rock-middle.rock-green .bit-15, .tile-rock-middle.rock-green .bit-15:before, .tile-rock-middle.rock-green .bit-02, .tile-rock-middle.rock-green .bit-02:before, .tile-rock-middle.rock-green .bit-02:after, .tile-rock-middle.rock-green .bit-03,
.tile-rock-middle.rock-green .bit-03:before, .tile-rock-middle.rock-green .bit-03:after, .tile-rock-middle.rock-green .bit-04, .tile-rock-middle.rock-green .bit-04:before, .tile-rock-middle.rock-green .bit-04:after,
.tile-rock-middle.rock-green .bit-05, .tile-rock-middle.rock-green .bit-05:before, .tile-rock-middle.rock-green .bit-05:after{
	background-color: var(--color-khaki);
}
.tile-rock-middle.rock-grottoes,.tile-rock-middle.rock-green,.tile-rock-middle.rock-grottoes,.tile-rock-middle.rock-grottoes .bit-15, .tile-rock-middle.rock-grottoes .bit-15:before, .tile-rock-middle.rock-grottoes .bit-02, .tile-rock-middle.rock-grottoes .bit-02:before, .tile-rock-middle.rock-grottoes .bit-02:after, .tile-rock-middle.rock-grottoes .bit-03,
.tile-rock-middle.rock-grottoes .bit-03:before, .tile-rock-middle.rock-grottoes .bit-03:after, .tile-rock-middle.rock-grottoes .bit-04, .tile-rock-middle.rock-grottoes .bit-04:before, .tile-rock-middle.rock-grottoes .bit-04:after,
.tile-rock-middle.rock-grottoes .bit-05, .tile-rock-middle.rock-grottoes .bit-05:before, .tile-rock-middle.rock-grottoes .bit-05:after{
  background-color: var(--color-black);
}

.tile-rock-middle.rock-grey:before, .tile-rock-middle.rock-grey:after{
	background-color: var(--color-white);
}
.tile-rock-middle.rock-grey,.tile-rock-middle.rock-grey .bit-15, .tile-rock-middle.rock-grey .bit-15:before, .tile-rock-middle.rock-grey .bit-02, .tile-rock-middle.rock-grey .bit-02:before, .tile-rock-middle.rock-grey .bit-02:after, .tile-rock-middle.rock-grey .bit-03,
.tile-rock-middle.rock-grey .bit-03:before, .tile-rock-middle.rock-grey .bit-03:after, .tile-rock-middle.rock-grey .bit-04, .tile-rock-middle.rock-grey .bit-04:before, .tile-rock-middle.rock-grey .bit-04:after,
.tile-rock-middle.rock-grey .bit-05, .tile-rock-middle.rock-grey .bit-05:before, .tile-rock-middle.rock-grey .bit-05:after{
	background-color: var(--color-grey);
}
.tile-rock-middle:before{
	width:25%;
	height:100%;
	left:0;
	top:0;
}
.tile-rock-middle:after{
	width:37.55%;
	height:100%;
	left:37.5%;
	top:0;
}
.tile-rock-middle .bit-01{
	top:0;
	left:93.75%;
}
.tile-rock-middle .bit-01:before{
	width:300%;
	left:-300%;
	height:1500%;
	top:0;
}
.tile-rock-middle .bit-01:after{
	left:-1100%;
	top:1200%;
	width:200%;
	height:300%;
}
.tile-rock-middle .bit-02{
	left:43.75%;
	top:0;
}
.tile-rock-middle .bit-02:before{
	width:100%;
	height:300%;
	top:100%;
	left:-100%;
}
.tile-rock-middle .bit-02:after{
	width:100%;
	height:200%;
	left:-700%;
	top:300%;
}
.tile-rock-middle .bit-03{
	left:75%;
	top:0;
}
.tile-rock-middle .bit-03:before{
	width:100%;
	left:-200%;
	height:700%;
	top:700%;
}
.tile-rock-middle .bit-03:after{
	height:200%;
	width:100%;
	left:-1200%;
	top:1000%;
}
.tile-rock-middle .bit-04{
	top:93.75%;
	left:18.75%;
}
.tile-rock-middle .bit-04:before{
	height:200%;
	width:100%;
	left:-200%;
	top:-100%;
}
.tile-rock-middle .bit-04:after{
	top:-300%;
	left:-100%;
	height:200%;
	width:100%;
}
.tile-rock-middle .bit-05{
	top:93.75%;
	left:37.5%;
}
.tile-rock-middle .bit-05:before{
	width:200%;
	left:500%;
	top:-900%;
	height:100%;
}
.tile-rock-middle .bit-05:after{
	width:100%;
	height:100%;
	left:200%;
	top:0;
}
.tile-rock-middle .bit-06{
	top:0;
	left:18.75%;
}
.tile-rock-middle .bit-06:before{
	width:100%;
	top:100%;
	left:100%;
	height:1000%;
}
.tile-rock-middle .bit-06:after{
	height:400%;
	width:100%;
	left:200%;
	top:0;
}
.tile-rock-middle .bit-07{
	top:0;
	left:37.5%;
}
.tile-rock-middle .bit-07:before{
	width:100%;
	top:800%;
	left:-300%;
	height:300%;
}
.tile-rock-middle .bit-07:after{
	height:200%;
	width:100%;
	left:-400%;
	top:1000%;
}
.tile-rock-middle .bit-08{
	top:93.75%;
	left:0;
}
.tile-rock-middle .bit-08:before{
	width:100%;
	top:-300%;
	left:100%;
	height:200%;
}
.tile-rock-middle .bit-08:after{
	height:200%;
	width:100%;
	left:600%;
	top:-500%;
}
.tile-rock-middle .bit-09{
	top:93.75%;
	left:43.75%;
}
.tile-rock-middle .bit-09:before{
	width:200%;
	top:-300%;
	left:100%;
	height:300%;
}
.tile-rock-middle .bit-09:after{
	height:200%;
	width:200%;
	left:200%;
	top:-100%;
}
.tile-rock-middle .bit-10{
	top:81.25%;
	left:43.75%;
}
.tile-rock-middle .bit-10:before{
	width:100%;
	top:-300%;
	left:200%;
	height:200%;
}
.tile-rock-middle .bit-10:after{
	height:600%;
	width:100%;
	left:700%;
	top:-300%;
}
.tile-rock-middle .bit-11{
	top:87.5%;
	left:93.75%;
}
.tile-rock-middle .bit-11:before{
	width:100%;
	top:-1200%;
	left:0;
	height:400%;
}
.tile-rock-middle .bit-11:after{
	height:300%;
	width:100%;
	left:0;
	top:-600%;
}
.tile-rock-middle .bit-12{
	top:6.25%;
	left:87.5%;
}
.tile-rock-middle .bit-12:before{
	width:100%;
	top:-100%;
	left:-100%;
	height:500%;
}
.tile-rock-middle .bit-12:after{
	height:200%;
	width:100%;
	left:-200%;
	top:0;
}
.tile-rock-middle .bit-13{
	top:68.75%;
	left:43.75%;
}
.tile-rock-middle .bit-13:before{
	width:200%;
	top:-1100%;
	left:300%;
	height:100%;
}
.tile-rock-middle .bit-13:after{
	height:200%;
	width:100%;
	left:600%;
	top:300%;
}
.tile-rock-middle .bit-14{
	top:37.5%;
	left:81.25%;
}
.tile-rock-middle .bit-14:before{
	width:100%;
	top:0;
	left:100%;
	height:200%;
}
.tile-rock-middle .bit-14:after{
	width:200%;
	top:900%;
	left:-900%;
	height:100%;
}
.tile-rock-middle .bit-15{
	left:18.75%;
	top:68.75%;
}
.tile-rock-middle .bit-15:before{
	width:100%;
	top:400%;
	left:800%;
	height:100%;
}