.tile-0102:before{
	width:81.25%;
	top:25%;
	height:75%;
	left:6.25%;
}
.tile-0102:after{
	width:62.5%;
	height:81.25%;
	top:12.5%;
	left:6.25%;
}
.tile-0102 .bit-01{
	top:75%;
	left:81.25%;
}
.tile-0102 .bit-01:before{
	top:-400%;
	left:-100%;
	width:100%;
	height:300%;
}
.tile-0102 .bit-01:after{
	top:-900%;
	left:-200%;
	width:200%;
	height:400%;
}
.tile-0102 .bit-02{
	top:81.25%;
	left:81.25%;
}
.tile-0102 .bit-02:before{
	top:-1300%;
	left:-1100%;
	width:300%;
	height:200%;
}
.tile-0102 .bit-02:after{
	top:-1000%;
	left:-1300%;
	width:100%;
	height:500%;
}
.tile-0102 .bit-03{
	top:81.25%;
	left:75%;
}
.tile-0102 .bit-03:before{
	top:-200%;
	left:-1200%;
	width:100%;
	height:300%;
}
.tile-0102 .bit-03:after{
	top:-1200%;
	left:-1100%;
	width:100%;
	height:100%;
}
.tile-0102 .bit-04{
	top:0;
	left:25%;
}
.tile-0102 .bit-04:before{
	top:100%;
	left:100%;
	width:100%;
	height:400%;
}
.tile-0102 .bit-04:after{
	top:500%;
	left:0;
	width:100%;
	height:800%;
}
.tile-0102 .bit-05{
	top:12.5%;
	left:37.5%;
}
.tile-0102 .bit-05:before{
	top:400%;
	left:200%;
	width:100%;
	height:500%;
}
.tile-0102 .bit-05:after{
	top:700%;
	left:300%;
	width:100%;
	height:300%;
}
.tile-0102 .bit-06{
	top:87.5%;
	left:37.5%;
}
.tile-0102 .bit-06:before{
	top:-100%;
	left:300%;
	width:200%;
	height:100%;
}
.tile-0102 .bit-06:after{
	top:0;
	left:400%;
	width:600%;
	height:100%;
}
.tile-0102 .bit-07{
	top:93.75%;
	left:0;
}
.tile-0102 .bit-07:before{
	top:-900%;
	left:1400%;
	width:100%;
	height:700%;
}
.tile-0102 .bit-07:after{
	top:-1300%;
	left:1000%;
	width:200%;
	height:100%;
}
.tile-0102 .bit-08{
	top:18.75%;
	left:75%;
}
.tile-0102 .bit-08:before{
	top:100%;
	left:0;
	width:100%;
	height:100%;
}
.tile-0102 .bit-08:after{
	top:200%;
	left:-700%;
	width:100%;
	height:600%;
}
.tile-0102 .bit-09{
	top:12.5%;
	left:12.5%;
}
.tile-0102 .bit-09:before{
	top:100%;
	left:-100%;
	width:100%;
	height:300%;
}
.tile-0102 .bit-09:after{
	top:100%;
	left:400%;
	width:100%;
	height:200%;
}
.tile-0104:before{
	height:93.75%;
	width:31.25%;
	left:68.75%;
	top:6.25%;
}
.tile-0104:after{
	width:25%;
	height:25%;
	left:50%;
	top:43.75%;
}
.tile-0104 .bit-01{
	top:0;
	left:68.75%;
}
.tile-0104 .bit-01:before{
	top:600%;
	left:-400%;
	height:400%;
	width:300%;
}
.tile-0104 .bit-01:after{
	top:100%;
	left:-1000%;
	width:400%;
	height:500%;
}
.tile-0104 .bit-02{
	top:0;
	left:6.25%;
}
.tile-0104 .bit-02:before{
	top:400%;
	left:400%;
	width:200%;
	height:400%;
}
.tile-0104 .bit-02:after{
	top:100%;
	left:1200%;
	height:100%;
	width:300%;
}
.tile-0104 .bit-03{
	top:18.75%;
	left:6.25%;
}
.tile-0104 .bit-03:before{
	top:800%;
	left:600%;
	height:500%;
	width:400%;
}
.tile-0104 .bit-03:after{
	top:1000%;
	left:1000%;
	height:300%;
	width:200%;
}
.tile-0104 .bit-04{
	top:12.5%;
	left:93.75%;
}
.tile-0104 .bit-04:before{
	top:400%;
	left:-200%;
	height:300%;
	width:100%;
}
.tile-0104 .bit-04:after{
	top:800%;
	left:-200%;
	height:400%;
	width:100%;
}
.tile-0104 .bit-05{
	top:37.5%;
	left:25%;
}
.tile-0104 .bit-05:before{
	top:-200%;
	left:700%;
	height:400%;
	width:100%;
}
.tile-0104 .bit-05:after{
	top:-300%;
	left:800%;
	height:200%;
	width:100%;
}
.tile-0104 .bit-06{
	top:43.75%;
	left:25%;
}
.tile-0104 .bit-06:before{
	top:0;
	left:100%;
	height:200%;
	width:100%;
}
.tile-0104 .bit-06:after{
	top:100%;
	left:200%;
	height:300%;
	width:100%;
}
.tile-0104 .bit-07{
	top:62.5%;
	left:43.75%;
}
.tile-0104 .bit-07:before{
	top:-100%;
	left:200%;
	height:200%;
	width:100%;
}
.tile-0104 .bit-07:after{
	top:-100%;
	left:500%;
	height:100%;
	width:100%;
}
.tile-0104 .bit-08{
	top:75%;
	left:68.75%;
}
.tile-0104 .bit-08:before{
	top:-700%;
	left:-400%;
	height:100%;
	width:100%;
}
.tile-0104 .bit-08:after{
	top:300%;
	left:-500%;
	height:100%;
	width:300%;
}
.tile-0104 .bit-09{
	top:87.5%;
	left:25%;
}
.tile-0104 .bit-09:before{
	top:-100%;
	left:100%;
	height:200%;
	width:500%;
}
.tile-0104 .bit-09:after{
	top:-1000%;
	left:-200%;
	height:300%;
	width:200%;
}
.tile-0104 .bit-10{
	top:31.25%;
	left:0;
}
.tile-0104 .bit-10:before{
	top:-500%;
	left:500%;
	height:100%;
	width:200%;
}
.tile-0104 .bit-10:after{
	top:-400%;
	left:400%;
	height:100%;
	width:400%;
}
.tile-0104 .bit-11{
	top:31.25%;
	left:6.25%;
}
.tile-0104 .bit-11:before{
	top:-100%;
	left:0;
	height:100%;
	width:100%;
}
.tile-0104 .bit-11:after{
	top:0;
	left:300%;
	height:100%;
	width:100%;
}
.tile-0105:before{
	height:87.5%;
	width:100%;
	top:12.5%;
	left:0;
}
.tile-0105:after{
	height:6.25%;
	width:37.5%;
	top:6.25%;
	left:0;
}
.tile-0105 .bit-01 {
	top:6.25%;
	left:50%;
	height:6.25%;
	width:6.25%;
}
.tile-0105 .bit-01:before{
	height:100%;
	width:400%;
	top:-100%;
	left:-700%;
}
.tile-0105 .bit-01:after{
	height:200%;
	width:600%;
	top:-100%;
	left:100%;
}
.tile-0105 .bit-02{
	top:6.25%;
	left:93.75%;
}
.tile-0105 .bit-02:before{
	height:300%;
	width:300%;
	top:300%;
	left:-200%;
}
.tile-0105 .bit-02:after{
	height:300%;
	width:300%;
	top:400%;
	left:-300%;
}
.tile-0105 .bit-03{
	top:18.75%;
	left:0;
}
.tile-0105 .bit-03:before{
	height:400%;
	width:400%;
	top:100%;
	left:0;
}
.tile-0105 .bit-03:after{
	height:600%;
	width:300%;
	top:500%;
	left:0;
}
.tile-0105 .bit-04{
	top:87.5%;
	left:93.75%;
}
.tile-0105 .bit-04:before{
	height:300%;
	width:300%;
	top:-300%;
	left:-300%;
}
.tile-0105 .bit-04:after{
	height:300%;
	width:200%;
	top:-600%;
	left:-200%;
}
.tile-0105 .bit-05{
	top:93.75%;
	left:87.5%;
}
.tile-0105 .bit-05:before{
	height:600%;
	width:400%;
	top:-800%;
	left:-800%;
}
.tile-0105 .bit-05:after{
	height:100%;
	width:900%;
	top:-300%;
	left:-1100%;
}
.tile-0105 .bit-06{
	top:87.5%;
	left:87.5%;
}
.tile-0105 .bit-06:before{
	height:100%;
	width:600%;
	top:-300%;
	left:-900%;
}
.tile-0105 .bit-06:after{
	height:100%;
	width:600%;
	top:-700%;
	left:-900%;
}
.tile-0105 .bit-07{
	top:87.5%;
	left:75%;
}
.tile-0105 .bit-07:before{
	height:200%;
	width:100%;
	top:-100%;
	left:-700%;
}
.tile-0105 .bit-07:after{
	height:200%;
	width:100%;
	top:0;
	left:-1200%;
}
.tile-0105 .bit-08{
	top:68.75%;
	left:18.75%;
}
.tile-0105 .bit-08:before{
	height:400%;
	width:100%;
	top:-900%;
	left:100%;
}
.tile-0105 .bit-08:after{
	height:300%;
	width:100%;
	top:-700%;
	left:200%;
}
.tile-0105 .bit-09{
	top:31.25%;
	left:37.5%;
}
.tile-0105 .bit-09:before{
	height:100%;
	width:200%;
	top:100%;
	left:0;
}
.tile-0105 .bit-09:after{
	height:100%;
	width:200%;
	top:800%;
	left:400%;
}
.tile-0105 .bit-10{
	top:37.5%;
	left:62.5%;
}
.tile-0105 .bit-10:before{
	height:100%;
	width:100%;
	top:-100%;
	left:100%;
}
.tile-0105 .bit-10:after{
	height:200%;
	width:100%;
	top:300%;
	left:100%;
}
.tile-0105 .bit-11{
	top:62.5%;
	left:25%;
}
.tile-0105 .bit-11:before{
	height:100%;
	width:100%;
	top:-100%;
	left:0;
}
.tile-0106:before{
	width:50%;
	height:81.25%;
	top:18.75%;
	left:0;
}
.tile-0106:after{
	width:12.5%;
	height:12.5%;
	top:6.25%;
	left:31.25%;
}
.tile-0106 .bit-01{
	top:0;
	left:37.5%;
}
.tile-0106 .bit-01:before{
	width:100%;
	height:100%;
	top:200%;
	left:-200%;
}
.tile-0106 .bit-01:after{
	width:200%;
	height:100%;
	top:200%;
	left:-600%;
}
.tile-0106 .bit-02{
	top:31.25%;
	left:31.25%;
}
.tile-0106 .bit-02:before{
	width:100%;
	height:600%;
	top:500%;
	left:-500%;
}
.tile-0106 .bit-02:after{
	width:100%;
	height:500%;
	top:600%;
	left:200%;
}
.tile-0106 .bit-03{
	top:37.5%;
	left:25%;
}
.tile-0106 .bit-03:before{
	width:200%;
	height:200%;
	top:0;
	left:-400%;
}
.tile-0106 .bit-03:after{
	width:200%;
	height:200%;
	top:100%;
	left:-100%;
}
.tile-0106 .bit-04{
	top:93.75%;
	left:18.75%;
}
.tile-0106 .bit-04:before{
	top:-700%;
	left:-200%;
	width:300%;
	height:400%;
}
.tile-0106 .bit-04:after{
	top:-300%;
	left:-100%;
	width:100%;
	height:400%;
}
.tile-0106 .bit-05{
	top:87.5%;
	left:25%;
}
.tile-0106 .bit-05:before{
	top:-200%;
	left:-100%;
	width:100%;
	height:100%;
}
.tile-0106 .bit-05:after{
	top:-200%;
	left:0;
	width:100%;
	height:200%;
}


.tile-0107:before{
	width:100%;
	height:100%;
}
.tile-0107:after{
	width:87.5%;
	left:6.25%;
	height:43.75%;
	top:6.25%;
}
.tile-0107 .bit-01{
	top:12.5%;
	left:6.25%;
}
.tile-0107 .bit-01:before{
	width:1400%;
	left:0;
	height:700%;
	top:600%;
}
.tile-0107 .bit-01:after{
	width:1000%;
	left:0;
	height:200%;
	top:400%;
}
.tile-0107 .bit-02{
	top:12.5%;
	left:12.5%;
}
.tile-0107 .bit-02:before{
	width:600%;
	left:-100%;
	height:200%;
	top:200%;
}
.tile-0107 .bit-02:after{
	width:200%;
	left:-100%;
	height:200%;
	top:100%;
}
.tile-0107 .bit-03{
	top:18.75%;
	left:18.75%;
}
.tile-0107 .bit-03:before{
	width:100%;
	left:400%;
	height:1000%;
	top:200%;
}
.tile-0107 .bit-03:after{
	width:100%;
	left:800%;
	height:800%;
	top:400%;
}
.tile-0107 .bit-04{
	top:25%;
	left:18.75%;
}
.tile-0107 .bit-04:before{
	width:100%;
	left:0;
	height:1100%;
	top:100%;
}
.tile-0108:before{
	width:81.25%;
	top:25%;
	height:75%;
	left:6.25%;
}
.tile-0108:after{
	width:62.5%;
	height:81.25%;
	top:12.5%;
	left:6.25%;
}
.tile-0108 .bit-01{
	top:75%;
	left:81.25%;
}
.tile-0108 .bit-01:before{
	top:-400%;
	left:-100%;
	width:100%;
	height:300%;
}
.tile-0108 .bit-01:after{
	top:-900%;
	left:-200%;
	width:200%;
	height:400%;
}
.tile-0108 .bit-02{
	top:81.25%;
	left:81.25%;
}
.tile-0108 .bit-02:before{
	top:-1300%;
	left:-1100%;
	width:300%;
	height:200%;
}
.tile-0108 .bit-02:after{
	top:-1000%;
	left:-1300%;
	width:100%;
	height:500%;
}
.tile-0108 .bit-03{
	top:81.25%;
	left:75%;
}
.tile-0108 .bit-03:before{
	top:-200%;
	left:-1200%;
	width:100%;
	height:300%;
}
.tile-0108 .bit-03:after{
	top:-1200%;
	left:-1100%;
	width:100%;
	height:100%;
}
.tile-0108 .bit-04{
	top:0;
	left:25%;
}
.tile-0108 .bit-04:before{
	top:100%;
	left:100%;
	width:100%;
	height:400%;
}
.tile-0108 .bit-04:after{
	top:500%;
	left:0;
	width:100%;
	height:800%;
}
.tile-0108 .bit-05{
	top:12.5%;
	left:37.5%;
}
.tile-0108 .bit-05:before{
	top:400%;
	left:200%;
	width:100%;
	height:500%;
}
.tile-0108 .bit-05:after{
	top:700%;
	left:300%;
	width:100%;
	height:300%;
}
.tile-0108 .bit-06{
	top:87.5%;
	left:37.5%;
}
.tile-0108 .bit-06:before{
	top:-100%;
	left:300%;
	width:200%;
	height:100%;
}
.tile-0108 .bit-06:after{
	top:0;
	left:400%;
	width:600%;
	height:100%;
}
.tile-0108 .bit-07{
	top:93.75%;
	left:0;
}
.tile-0108 .bit-07:before{
	top:-900%;
	left:1400%;
	width:100%;
	height:700%;
}
.tile-0108 .bit-07:after{
	top:-1300%;
	left:1000%;
	width:200%;
	height:100%;
}
.tile-0108 .bit-08{
	top:18.75%;
	left:75%;
}
.tile-0108 .bit-08:before{
	top:100%;
	left:0;
	width:100%;
	height:100%;
}
.tile-0108 .bit-08:after{
	top:200%;
	left:-700%;
	width:100%;
	height:600%;
}
.tile-0108 .bit-09{
	top:12.5%;
	left:12.5%;
}
.tile-0108 .bit-09:before{
	top:100%;
	left:-100%;
	width:100%;
	height:300%;
}
.tile-0108 .bit-09:after{
	top:100%;
	left:400%;
	width:100%;
	height:200%;
}
.tile-0110:before{
	height:93.75%;
	width:31.25%;
	left:68.75%;
	top:6.25%;
}
.tile-0110:after{
	width:25%;
	height:25%;
	left:50%;
	top:43.75%;
}
.tile-0110 .bit-01{
	top:0;
	left:68.75%;
}
.tile-0110 .bit-01:before{
	top:600%;
	left:-400%;
	height:400%;
	width:300%;
}
.tile-0110 .bit-01:after{
	top:100%;
	left:-1000%;
	width:400%;
	height:500%;
}
.tile-0110 .bit-02{
	top:0;
	left:6.25%;
}
.tile-0110 .bit-02:before{
	top:400%;
	left:400%;
	width:200%;
	height:400%;
}
.tile-0110 .bit-02:after{
	top:100%;
	left:1200%;
	height:100%;
	width:300%;
}
.tile-0110 .bit-03{
	top:18.75%;
	left:6.25%;
}
.tile-0110 .bit-03:before{
	top:800%;
	left:600%;
	height:500%;
	width:400%;
}
.tile-0110 .bit-03:after{
	top:1000%;
	left:1000%;
	height:300%;
	width:200%;
}
.tile-0110 .bit-04{
	top:12.5%;
	left:93.75%;
}
.tile-0110 .bit-04:before{
	top:400%;
	left:-200%;
	height:300%;
	width:100%;
}
.tile-0110 .bit-04:after{
	top:800%;
	left:-200%;
	height:400%;
	width:100%;
}
.tile-0110 .bit-05{
	top:37.5%;
	left:25%;
}
.tile-0110 .bit-05:before{
	top:-200%;
	left:700%;
	height:400%;
	width:100%;
}
.tile-0110 .bit-05:after{
	top:-300%;
	left:800%;
	height:200%;
	width:100%;
}
.tile-0110 .bit-06{
	top:43.75%;
	left:25%;
}
.tile-0110 .bit-06:before{
	top:0;
	left:100%;
	height:200%;
	width:100%;
}
.tile-0110 .bit-06:after{
	top:100%;
	left:200%;
	height:300%;
	width:100%;
}
.tile-0110 .bit-07{
	top:62.5%;
	left:43.75%;
}
.tile-0110 .bit-07:before{
	top:-100%;
	left:200%;
	height:200%;
	width:100%;
}
.tile-0110 .bit-07:after{
	top:-100%;
	left:500%;
	height:100%;
	width:100%;
}
.tile-0110 .bit-08{
	top:75%;
	left:68.75%;
}
.tile-0110 .bit-08:before{
	top:-700%;
	left:-400%;
	height:100%;
	width:100%;
}
.tile-0110 .bit-08:after{
	top:300%;
	left:-500%;
	height:100%;
	width:300%;
}
.tile-0110 .bit-09{
	top:87.5%;
	left:25%;
}
.tile-0110 .bit-09:before{
	top:-100%;
	left:100%;
	height:200%;
	width:500%;
}
.tile-0110 .bit-09:after{
	top:-1000%;
	left:-200%;
	height:300%;
	width:200%;
}
.tile-0110 .bit-10{
	top:31.25%;
	left:0;
}
.tile-0110 .bit-10:before{
	top:-500%;
	left:500%;
	height:100%;
	width:200%;
}
.tile-0110 .bit-10:after{
	top:-400%;
	left:400%;
	height:100%;
	width:400%;
}
.tile-0110 .bit-11{
	top:31.25%;
	left:6.25%;
}
.tile-0110 .bit-11:before{
	top:-100%;
	left:0;
	height:100%;
	width:100%;
}
.tile-0110 .bit-11:after{
	top:0;
	left:300%;
	height:100%;
	width:100%;
}
.tile-0111:before{
	height:87.5%;
	width:100%;
	top:12.5%;
	left:0;
}
.tile-0111:after{
	height:6.25%;
	width:37.5%;
	top:6.25%;
	left:0;
}
.tile-0111 .bit-01 {
	top:6.25%;
	left:50%;
	height:6.25%;
	width:6.25%;
}
.tile-0111 .bit-01:before{
	height:100%;
	width:400%;
	top:-100%;
	left:-700%;
}
.tile-0111 .bit-01:after{
	height:200%;
	width:600%;
	top:-100%;
	left:100%;
}
.tile-0111 .bit-02{
	top:6.25%;
	left:93.75%;
}
.tile-0111 .bit-02:before{
	height:300%;
	width:300%;
	top:300%;
	left:-200%;
}
.tile-0111 .bit-02:after{
	height:300%;
	width:300%;
	top:400%;
	left:-300%;
}
.tile-0111 .bit-03{
	top:18.75%;
	left:0;
}
.tile-0111 .bit-03:before{
	height:400%;
	width:400%;
	top:100%;
	left:0;
}
.tile-0111 .bit-03:after{
	height:600%;
	width:300%;
	top:500%;
	left:0;
}
.tile-0111 .bit-04{
	top:87.5%;
	left:93.75%;
}
.tile-0111 .bit-04:before{
	height:300%;
	width:300%;
	top:-300%;
	left:-300%;
}
.tile-0111 .bit-04:after{
	height:300%;
	width:200%;
	top:-600%;
	left:-200%;
}
.tile-0111 .bit-05{
	top:93.75%;
	left:87.5%;
}
.tile-0111 .bit-05:before{
	height:600%;
	width:400%;
	top:-800%;
	left:-800%;
}
.tile-0111 .bit-05:after{
	height:100%;
	width:900%;
	top:-300%;
	left:-1100%;
}
.tile-0111 .bit-06{
	top:87.5%;
	left:87.5%;
}
.tile-0111 .bit-06:before{
	height:100%;
	width:600%;
	top:-300%;
	left:-900%;
}
.tile-0111 .bit-06:after{
	height:100%;
	width:600%;
	top:-700%;
	left:-900%;
}
.tile-0111 .bit-07{
	top:87.5%;
	left:75%;
}
.tile-0111 .bit-07:before{
	height:200%;
	width:100%;
	top:-100%;
	left:-700%;
}
.tile-0111 .bit-07:after{
	height:200%;
	width:100%;
	top:0;
	left:-1200%;
}
.tile-0111 .bit-08{
	top:68.75%;
	left:18.75%;
}
.tile-0111 .bit-08:before{
	height:400%;
	width:100%;
	top:-900%;
	left:100%;
}
.tile-0111 .bit-08:after{
	height:300%;
	width:100%;
	top:-700%;
	left:200%;
}
.tile-0111 .bit-09{
	top:31.25%;
	left:37.5%;
}
.tile-0111 .bit-09:before{
	height:100%;
	width:200%;
	top:100%;
	left:0;
}
.tile-0111 .bit-09:after{
	height:100%;
	width:200%;
	top:800%;
	left:400%;
}
.tile-0111 .bit-10{
	top:37.5%;
	left:62.5%;
}
.tile-0111 .bit-10:before{
	height:100%;
	width:100%;
	top:-100%;
	left:100%;
}
.tile-0111 .bit-10:after{
	height:200%;
	width:100%;
	top:300%;
	left:100%;
}
.tile-0111 .bit-11{
	top:62.5%;
	left:25%;
}
.tile-0111 .bit-11:before{
	height:100%;
	width:100%;
	top:-100%;
	left:0;
}
.tile-0112:before{
	width:50%;
	height:81.25%;
	top:18.75%;
	left:0;
}
.tile-0112:after{
	width:12.5%;
	height:12.5%;
	top:6.25%;
	left:31.25%;
}
.tile-0112 .bit-01{
	top:0;
	left:37.5%;
}
.tile-0112 .bit-01:before{
	width:100%;
	height:100%;
	top:200%;
	left:-200%;
}
.tile-0112 .bit-01:after{
	width:200%;
	height:100%;
	top:200%;
	left:-600%;
}
.tile-0112 .bit-02{
	top:31.25%;
	left:31.25%;
}
.tile-0112 .bit-02:before{
	width:100%;
	height:600%;
	top:500%;
	left:-500%;
}
.tile-0112 .bit-02:after{
	width:100%;
	height:500%;
	top:600%;
	left:200%;
}
.tile-0112 .bit-03{
	top:37.5%;
	left:25%;
}
.tile-0112 .bit-03:before{
	width:200%;
	height:200%;
	top:0;
	left:-400%;
}
.tile-0112 .bit-03:after{
	width:200%;
	height:200%;
	top:100%;
	left:-100%;
}
.tile-0112 .bit-04{
	top:93.75%;
	left:18.75%;
}
.tile-0112 .bit-04:before{
	top:-700%;
	left:-200%;
	width:300%;
	height:400%;
}
.tile-0112 .bit-04:after{
	top:-300%;
	left:-100%;
	width:100%;
	height:400%;
}
.tile-0112 .bit-05{
	top:87.5%;
	left:25%;
}
.tile-0112 .bit-05:before{
	top:-200%;
	left:-100%;
	width:100%;
	height:100%;
}
.tile-0112 .bit-05:after{
	top:-200%;
	left:0;
	width:100%;
	height:200%;
}
.tile-0113:before{
	width:100%;
	height:100%;
}
.tile-0113:after{
	width:87.5%;
	left:6.25%;
	height:43.75%;
	top:6.25%;
}
.tile-0113 .bit-01{
	top:12.5%;
	left:6.25%;
}
.tile-0113 .bit-01:before{
	width:1400%;
	left:0;
	height:700%;
	top:600%;
}
.tile-0113 .bit-01:after{
	width:1000%;
	left:0;
	height:200%;
	top:400%;
}
.tile-0113 .bit-02{
	top:12.5%;
	left:12.5%;
}
.tile-0113 .bit-02:before{
	width:600%;
	left:-100%;
	height:200%;
	top:200%;
}
.tile-0113 .bit-02:after{
	width:200%;
	left:-100%;
	height:200%;
	top:100%;
}
.tile-0113 .bit-03{
	top:18.75%;
	left:18.75%;
}
.tile-0113 .bit-03:before{
	width:100%;
	left:400%;
	height:1000%;
	top:200%;
}
.tile-0113 .bit-03:after{
	width:100%;
	left:800%;
	height:800%;
	top:400%;
}
.tile-0113 .bit-04{
	top:25%;
	left:18.75%;
}
.tile-0113 .bit-04:before{
	width:100%;
	left:0;
	height:1100%;
	top:100%;
}
.tile-0114:before{
	width:81.25%;
	top:25%;
	height:75%;
	left:6.25%;
}
.tile-0114:after{
	width:62.5%;
	height:81.25%;
	top:12.5%;
	left:6.25%;
}
.tile-0114 .bit-01{
	top:75%;
	left:81.25%;
}
.tile-0114 .bit-01:before{
	top:-400%;
	left:-100%;
	width:100%;
	height:300%;
}
.tile-0114 .bit-01:after{
	top:-900%;
	left:-200%;
	width:200%;
	height:400%;
}
.tile-0114 .bit-02{
	top:81.25%;
	left:81.25%;
}
.tile-0114 .bit-02:before{
	top:-1300%;
	left:-1100%;
	width:300%;
	height:200%;
}
.tile-0114 .bit-02:after{
	top:-1000%;
	left:-1300%;
	width:100%;
	height:500%;
}
.tile-0114 .bit-03{
	top:81.25%;
	left:75%;
}
.tile-0114 .bit-03:before{
	top:-200%;
	left:-1200%;
	width:100%;
	height:300%;
}
.tile-0114 .bit-03:after{
	top:-1200%;
	left:-1100%;
	width:100%;
	height:100%;
}
.tile-0114 .bit-04{
	top:0;
	left:25%;
}
.tile-0114 .bit-04:before{
	top:100%;
	left:100%;
	width:100%;
	height:400%;
}
.tile-0114 .bit-04:after{
	top:500%;
	left:0;
	width:100%;
	height:800%;
}
.tile-0114 .bit-05{
	top:12.5%;
	left:37.5%;
}
.tile-0114 .bit-05:before{
	top:400%;
	left:200%;
	width:100%;
	height:500%;
}
.tile-0114 .bit-05:after{
	top:700%;
	left:300%;
	width:100%;
	height:300%;
}
.tile-0114 .bit-06{
	top:87.5%;
	left:37.5%;
}
.tile-0114 .bit-06:before{
	top:-100%;
	left:300%;
	width:200%;
	height:100%;
}
.tile-0114 .bit-06:after{
	top:0;
	left:400%;
	width:600%;
	height:100%;
}
.tile-0114 .bit-07{
	top:93.75%;
	left:0;
}
.tile-0114 .bit-07:before{
	top:-900%;
	left:1400%;
	width:100%;
	height:700%;
}
.tile-0114 .bit-07:after{
	top:-1300%;
	left:1000%;
	width:200%;
	height:100%;
}
.tile-0114 .bit-08{
	top:18.75%;
	left:75%;
}
.tile-0114 .bit-08:before{
	top:100%;
	left:0;
	width:100%;
	height:100%;
}
.tile-0114 .bit-08:after{
	top:200%;
	left:-700%;
	width:100%;
	height:600%;
}
.tile-0114 .bit-09{
	top:12.5%;
	left:12.5%;
}
.tile-0114 .bit-09:before{
	top:100%;
	left:-100%;
	width:100%;
	height:300%;
}
.tile-0114 .bit-09:after{
	top:100%;
	left:400%;
	width:100%;
	height:200%;
}
.tile-0116:before{
	height:93.75%;
	width:31.25%;
	left:68.75%;
	top:6.25%;
}
.tile-0116:after{
	width:25%;
	height:25%;
	left:50%;
	top:43.75%;
}
.tile-0116 .bit-01{
	top:0;
	left:68.75%;
}
.tile-0116 .bit-01:before{
	top:600%;
	left:-400%;
	height:400%;
	width:300%;
}
.tile-0116 .bit-01:after{
	top:100%;
	left:-1000%;
	width:400%;
	height:500%;
}
.tile-0116 .bit-02{
	top:0;
	left:6.25%;
}
.tile-0116 .bit-02:before{
	top:400%;
	left:400%;
	width:200%;
	height:400%;
}
.tile-0116 .bit-02:after{
	top:100%;
	left:1200%;
	height:100%;
	width:300%;
}
.tile-0116 .bit-03{
	top:18.75%;
	left:6.25%;
}
.tile-0116 .bit-03:before{
	top:800%;
	left:600%;
	height:500%;
	width:400%;
}
.tile-0116 .bit-03:after{
	top:1000%;
	left:1000%;
	height:300%;
	width:200%;
}
.tile-0116 .bit-04{
	top:12.5%;
	left:93.75%;
}
.tile-0116 .bit-04:before{
	top:400%;
	left:-200%;
	height:300%;
	width:100%;
}
.tile-0116 .bit-04:after{
	top:800%;
	left:-200%;
	height:400%;
	width:100%;
}
.tile-0116 .bit-05{
	top:37.5%;
	left:25%;
}
.tile-0116 .bit-05:before{
	top:-200%;
	left:700%;
	height:400%;
	width:100%;
}
.tile-0116 .bit-05:after{
	top:-300%;
	left:800%;
	height:200%;
	width:100%;
}
.tile-0116 .bit-06{
	top:43.75%;
	left:25%;
}
.tile-0116 .bit-06:before{
	top:0;
	left:100%;
	height:200%;
	width:100%;
}
.tile-0116 .bit-06:after{
	top:100%;
	left:200%;
	height:300%;
	width:100%;
}
.tile-0116 .bit-07{
	top:62.5%;
	left:43.75%;
}
.tile-0116 .bit-07:before{
	top:-100%;
	left:200%;
	height:200%;
	width:100%;
}
.tile-0116 .bit-07:after{
	top:-100%;
	left:500%;
	height:100%;
	width:100%;
}
.tile-0116 .bit-08{
	top:75%;
	left:68.75%;
}
.tile-0116 .bit-08:before{
	top:-700%;
	left:-400%;
	height:100%;
	width:100%;
}
.tile-0116 .bit-08:after{
	top:300%;
	left:-500%;
	height:100%;
	width:300%;
}
.tile-0116 .bit-09{
	top:87.5%;
	left:25%;
}
.tile-0116 .bit-09:before{
	top:-100%;
	left:100%;
	height:200%;
	width:500%;
}
.tile-0116 .bit-09:after{
	top:-1000%;
	left:-200%;
	height:300%;
	width:200%;
}
.tile-0116 .bit-10{
	top:31.25%;
	left:0;
}
.tile-0116 .bit-10:before{
	top:-500%;
	left:500%;
	height:100%;
	width:200%;
}
.tile-0116 .bit-10:after{
	top:-400%;
	left:400%;
	height:100%;
	width:400%;
}
.tile-0116 .bit-11{
	top:31.25%;
	left:6.25%;
}
.tile-0116 .bit-11:before{
	top:-100%;
	left:0;
	height:100%;
	width:100%;
}
.tile-0116 .bit-11:after{
	top:0;
	left:300%;
	height:100%;
	width:100%;
}
.tile-0117:before{
	height:87.5%;
	width:100%;
	top:12.5%;
	left:0;
}
.tile-0117:after{
	height:6.25%;
	width:37.5%;
	top:6.25%;
	left:0;
}
.tile-0117 .bit-01{
	top:6.25%;
	left:50%;
	height:6.25%;
	width:6.25%;
}
.tile-0117 .bit-01:before{
	height:100%;
	width:400%;
	top:-100%;
	left:-700%;
}
.tile-0117 .bit-01:after{
	height:200%;
	width:600%;
	top:-100%;
	left:100%;
}
.tile-0117 .bit-02{
	top:6.25%;
	left:93.75%;
}
.tile-0117 .bit-02:before{
	height:300%;
	width:300%;
	top:300%;
	left:-200%;
}
.tile-0117 .bit-02:after{
	height:300%;
	width:300%;
	top:400%;
	left:-300%;
}
.tile-0117 .bit-03{
	top:18.75%;
	left:0;
}
.tile-0117 .bit-03:before{
	height:400%;
	width:400%;
	top:100%;
	left:0;
}
.tile-0117 .bit-03:after{
	height:600%;
	width:300%;
	top:500%;
	left:0;
}
.tile-0117 .bit-04{
	top:87.5%;
	left:93.75%;
}
.tile-0117 .bit-04:before{
	height:300%;
	width:300%;
	top:-300%;
	left:-300%;
}
.tile-0117 .bit-04:after{
	height:300%;
	width:200%;
	top:-600%;
	left:-200%;
}
.tile-0117 .bit-05{
	top:93.75%;
	left:87.5%;
}
.tile-0117 .bit-05:before{
	height:600%;
	width:400%;
	top:-800%;
	left:-800%;
}
.tile-0117 .bit-05:after{
	height:100%;
	width:900%;
	top:-300%;
	left:-1100%;
}
.tile-0117 .bit-06{
	top:87.5%;
	left:87.5%;
}
.tile-0117 .bit-06:before{
	height:100%;
	width:600%;
	top:-300%;
	left:-900%;
}
.tile-0117 .bit-06:after{
	height:100%;
	width:600%;
	top:-700%;
	left:-900%;
}
.tile-0117 .bit-07{
	top:87.5%;
	left:75%;
}
.tile-0117 .bit-07:before{
	height:200%;
	width:100%;
	top:-100%;
	left:-700%;
}
.tile-0117 .bit-07:after{
	height:200%;
	width:100%;
	top:0;
	left:-1200%;
}
.tile-0117 .bit-08{
	top:68.75%;
	left:18.75%;
}
.tile-0117 .bit-08:before{
	height:400%;
	width:100%;
	top:-900%;
	left:100%;
}
.tile-0117 .bit-08:after{
	height:300%;
	width:100%;
	top:-700%;
	left:200%;
}
.tile-0117 .bit-09{
	top:31.25%;
	left:37.5%;
}
.tile-0117 .bit-09:before{
	height:100%;
	width:200%;
	top:100%;
	left:0;
}
.tile-0117 .bit-09:after{
	height:100%;
	width:200%;
	top:800%;
	left:400%;
}
.tile-0117 .bit-10{
	top:37.5%;
	left:62.5%;
}
.tile-0117 .bit-10:before{
	height:100%;
	width:100%;
	top:-100%;
	left:100%;
}
.tile-0117 .bit-10:after{
	height:200%;
	width:100%;
	top:300%;
	left:100%;
}
.tile-0117 .bit-11{
	top:62.5%;
	left:25%;
}
.tile-0117 .bit-11:before{
	height:100%;
	width:100%;
	top:-100%;
	left:0;
}
.tile-0118:before{
	width:50%;
	height:81.25%;
	top:18.75%;
	left:0;
}
.tile-0118:after{
	width:12.5%;
	height:12.5%;
	top:6.25%;
	left:31.25%;
}
.tile-0118 .bit-01{
	top:0;
	left:37.5%;
}
.tile-0118 .bit-01:before{
	width:100%;
	height:100%;
	top:200%;
	left:-200%;
}
.tile-0118 .bit-01:after{
	width:200%;
	height:100%;
	top:200%;
	left:-600%;
}
.tile-0118 .bit-02{
	top:31.25%;
	left:31.25%;
}
.tile-0118 .bit-02:before{
	width:100%;
	height:600%;
	top:500%;
	left:-500%;
}
.tile-0118 .bit-02:after{
	width:100%;
	height:500%;
	top:600%;
	left:200%;
}
.tile-0118 .bit-03{
	top:37.5%;
	left:25%;
}
.tile-0118 .bit-03:before{
	width:200%;
	height:200%;
	top:0;
	left:-400%;
}
.tile-0118 .bit-03:after{
	width:200%;
	height:200%;
	top:100%;
	left:-100%;
}
.tile-0118 .bit-04{
	top:93.75%;
	left:18.75%;
}
.tile-0118 .bit-04:before{
	top:-700%;
	left:-200%;
	width:300%;
	height:400%;
}
.tile-0118 .bit-04:after{
	top:-300%;
	left:-100%;
	width:100%;
	height:400%;
}
.tile-0118 .bit-05{
	top:87.5%;
	left:25%;
}
.tile-0118 .bit-05:before{
	top:-200%;
	left:-100%;
	width:100%;
	height:100%;
}
.tile-0118 .bit-05:after{
	top:-200%;
	left:0;
	width:100%;
	height:200%;
}