.tile-0408:before{
	width:25%;
	height:100%;
	left:0;
	top:0;
}
.tile-0408:after{
	width:37.55%;
	height:100%;
	left:37.5%;
	top:0;
}
.tile-0408 .bit-01{
	top:0;
	left:93.75%;
}
.tile-0408 .bit-01:before{
	width:300%;
	left:-300%;
	height:1500%;
	top:0;
}
.tile-0408 .bit-01:after{
	left:-1100%;
	top:1200%;
	width:200%;
	height:300%;
}
.tile-0408 .bit-02{
	left:43.75%;
	top:0;
}
.tile-0408 .bit-02:before{
	width:100%;
	height:300%;
	top:100%;
	left:-100%;
}
.tile-0408 .bit-02:after{
	width:100%;
	height:200%;
	left:-700%;
	top:300%;
}
.tile-0408 .bit-03{
	left:75%;
	top:0;
}
.tile-0408 .bit-03:before{
	width:100%;
	left:-200%;
	height:700%;
	top:700%;
}
.tile-0408 .bit-03:after{
	height:200%;
	width:100%;
	left:-1200%;
	top:1000%;
}
.tile-0408 .bit-04{
	top:93.75%;
	left:18.75%;
}
.tile-0408 .bit-04:before{
	height:200%;
	width:100%;
	left:-200%;
	top:-100%;
}
.tile-0408 .bit-04:after{
	top:-300%;
	left:-100%;
	height:200%;
	width:100%;
}
.tile-0408 .bit-05{
	top:93.75%;
	left:37.5%;
}
.tile-0408 .bit-05:before{
	width:200%;
	left:500%;
	top:-900%;
	height:100%;
}
.tile-0408 .bit-05:after{
	width:100%;
	height:100%;
	left:200%;
	top:0;
}
.tile-0408 .bit-06{
	top:0;
	left:18.75%;
}
.tile-0408 .bit-06:before{
	width:100%;
	top:100%;
	left:100%;
	height:1000%;
}
.tile-0408 .bit-06:after{
	height:400%;
	width:100%;
	left:200%;
	top:0;
}
.tile-0408 .bit-07{
	top:0;
	left:37.5%;
}
.tile-0408 .bit-07:before{
	width:100%;
	top:800%;
	left:-300%;
	height:300%;
}
.tile-0408 .bit-07:after{
	height:200%;
	width:100%;
	left:-400%;
	top:1000%;
}
.tile-0408 .bit-08{
	top:93.75%;
	left:0;
}
.tile-0408 .bit-08:before{
	width:100%;
	top:-300%;
	left:100%;
	height:200%;
}
.tile-0408 .bit-08:after{
	height:200%;
	width:100%;
	left:600%;
	top:-500%;
}
.tile-0408 .bit-09{
	top:93.75%;
	left:43.75%;
}
.tile-0408 .bit-09:before{
	width:200%;
	top:-300%;
	left:100%;
	height:300%;
}
.tile-0408 .bit-09:after{
	height:200%;
	width:200%;
	left:200%;
	top:-100%;
}
.tile-0408 .bit-10{
	top:81.25%;
	left:43.75%;
}
.tile-0408 .bit-10:before{
	width:100%;
	top:-300%;
	left:200%;
	height:200%;
}
.tile-0408 .bit-10:after{
	height:600%;
	width:100%;
	left:700%;
	top:-300%;
}
.tile-0408 .bit-11{
	top:87.5%;
	left:93.75%;
}
.tile-0408 .bit-11:before{
	width:100%;
	top:-1200%;
	left:0;
	height:400%;
}
.tile-0408 .bit-11:after{
	height:300%;
	width:100%;
	left:0;
	top:-600%;
}
.tile-0408 .bit-12{
	top:6.25%;
	left:87.5%;
}
.tile-0408 .bit-12:before{
	width:100%;
	top:-100%;
	left:-100%;
	height:500%;
}
.tile-0408 .bit-12:after{
	height:200%;
	width:100%;
	left:-200%;
	top:0;
}
.tile-0408 .bit-13{
	top:68.75%;
	left:43.75%;
}
.tile-0408 .bit-13:before{
	width:200%;
	top:-1100%;
	left:300%;
	height:100%;
}
.tile-0408 .bit-13:after{
	height:200%;
	width:100%;
	left:600%;
	top:300%;
}
.tile-0408 .bit-14{
	top:37.5%;
	left:81.25%;
}
.tile-0408 .bit-14:before{
	width:100%;
	top:0;
	left:100%;
	height:200%;
}
.tile-0408 .bit-14:after{
	width:200%;
	top:900%;
	left:-900%;
	height:100%;
}
.tile-0408 .bit-15{
	left:18.75%;
	top:68.75%;
}
.tile-0408 .bit-15:before{
	width:100%;
	top:400%;
	left:800%;
	height:100%;
}

.tile-0409:before{
	width:31.25%;
	height:87.5%;
	left:12.5%;
	top:0;
}
.tile-0409:after{
	width:18.75%;
	height:37.5%;
	left:68.75%;
	top:0;
}
.tile-0409 .bit-01{
	top:0;
	left:6.25%;
}
.tile-0409 .bit-01:before{
	width:100%;
	height:200%;
	left:0;
	top:100%;
}
.tile-0409 .bit-01:after{
	width:100%;
	height:600%;
	left:0;
	top:400%;
}




.tile-0409 .bit-02{
	left:6.25%;
	top:87.5%;
}
.tile-0409 .bit-02:before{
	top:-400%;
	left:-100%;
	width:100%;
	height:500%;
}
.tile-0409 .bit-02:after{
	top:-1200%;
	left:100%;
	width:200%;
	height:100%;
}
.tile-0409 .bit-03{
	left:81.25%;
	top:0;
}
.tile-0409 .bit-03:before{
	top:0;
	left:100%;
	width:200%;
	height:300%;
}
.tile-0409 .bit-03:after{
	top:0;
	left:-500%;
	width:200%;
	height:800%;
}
.tile-0409 .bit-04{
	left:43.75%;
	top:0;
}
.tile-0409 .bit-04:before{
	top:800%;
	left:0;
	width:200%;
	height:400%;
}
.tile-0409 .bit-04:after{
	top:1300%;
	left:-400%;
	width:400%;
	height:100%;
}
.tile-0409 .bit-05{
	left:37.5%;
	top:75%;
}
.tile-0409 .bit-05:before{
	top:-900%;
	left:-200%;
	width:100%;
	height:1000%;
}
.tile-0409 .bit-05:after{
	top:1300%;
	left:-400%;
	width:400%;
	height:100%;
	/** NOTE **/
	display:none;
}
.tile-0409 .bit-06{
	left:43.75%;
	top:75%;
}
.tile-0409 .bit-06:before{
	width:200%;
	height:100%;
	top:-600%;
	left:300%;
}
.tile-0409 .bit-06:after{
	width:200%;
	height:100%;
	top:-700%;
	left:500%;
}
.tile-0409 .bit-07{
	left:87.5%;
	top:18.75%;
}
.tile-0409 .bit-07:before{
	width:100%;
	height:100%;
	top:100%;
	left:0;
}
.tile-0409 .bit-07:after{
	width:100%;
	height:700%;
	top:-200%;
	left:-700%;
}



.tile-0410:before{
	width:37.5%;
	height:93.75%;
	top:0;
	left:56.25%;
}
.tile-0410:after{
	width:37.5%;
	height:50%;
	top:43.75%;
	left:6.25%;
}
.tile-0410 .bit-01{
	top:0;
	left:0;
}
.tile-0410 .bit-01:before{
	width:600%;
	height:400%;
	left:100%;
	top:0;
}
.tile-0410 .bit-01:after{
	width:300%;
	height:100%;
	top:400%;
	left:200%;
}
.tile-0410 .bit-02{
	top:0;
	left:43.75%;
}
.tile-0410 .bit-02:before{
	width:100%;
	height:200%;
	left:-400%;
	top:500%;
}
.tile-0410 .bit-02:after{
	width:800%;
	height:100%;
	top:100%;
	left:-700%;
}
.tile-0410 .bit-03{
	left:31.25%;
	top:25%;
}
.tile-0410 .bit-03:before{
	width:1600%;
	height:100%;
	left:-500%;
	top:1100%;
}
.tile-0410 .bit-03:after{
	width:100%;
	height:200%;
	top:-200%;
	left:100%;
}
.tile-0410 .bit-04{
	left:56.25%;
	top:12.5%;
}
.tile-0410 .bit-04:before{
	width:500%;
	height:100%;
	left:100%;
	top:100%;
}
.tile-0410 .bit-04:after{
	width:500%;
	height:100%;
	top:500%;
	left:100%;
}
.tile-0410 .bit-05{
	left:50%;
	top:87.5%;
}
.tile-0410 .bit-05:before{
	width:100%;
	height:600%;
	left:-100%;
	top:-500%;
}
.tile-0410 .bit-05:after{
	width:500%;
	height:100%;
	top:400%;
	left:100%;
	/** NOTE **/
	display:none;
}
.tile-0410 .bit-06{
	left:25%;
	top:31.25%;
}
.tile-0410 .bit-06:before{
	width:100%;
	height:200%;
	left:500%;
	top:0;
}
.tile-0410 .bit-06:after{
	width:100%;
	height:300%;
	top:300%;
	left:500%;
}
.tile-0410 .bit-07{
	left:25%;
	top:37.5%;
}
.tile-0410 .bit-07:before{
	width:200%;
	height:100%;
	left:100%;
	top:100%;
}
.tile-0410 .bit-07:after{
	width:500%;
	height:100%;
	top:500%;
	left:600%;
}









.tile-0410 .bit-08{
	top:18.75%;
	left:56.25%;
}
.tile-0410 .bit-08:before{
	width:100%;
	top:-300%;
	left:-100%;
	height:1400%;
}
.tile-0410 .bit-08:after{
	width:100%;
	top:600%;
	left:-900%;
	height:600%;
}
.tile-0410 .bit-09{
	top:43.75%;
	left:56.25%;
}
.tile-0410 .bit-09:before{
	width:500%;
	top:100%;
	left:100%;
	height:100%;
}
.tile-0410 .bit-09:after{
	width:500%;
	top:500%;
	left:100%;
	height:100%;
}
.tile-0410 .bit-10{
	top:68.75%;
	left:56.25%;
}
.tile-0410 .bit-10:before{
	width:600%;
	top:-300%;
	left:-800%;
	height:100%;
}



.tile-0412:before{
	width:37.5%;
	height:93.75%;
	left:6.25%;
	top:0;
}
.tile-0412:after{
	width:37.5%;
	height:50%;
	left:56.25%;
	top:43.75%;
}
.tile-0412 .bit-01{
	top:25%;
	left:62.5%;
}
.tile-0412 .bit-01:before{
	width:800%;
	height:100%;
	left:-200%;
	top:-400%;
}
.tile-0412 .bit-01:after{
	width:500%;
	height:200%;
	left:-100%;
	top:-200%;
}
.tile-0412 .bit-02{
	top:25%;
	left:75%;
}
.tile-0412 .bit-02:before{
	width:100%;
	height:300%;
	left:-100%;
	top:0;
}
.tile-0412 .bit-02:after{
	top:-300%;
	left:-400%;
	width:800%;
	height:100%;
}
.tile-0412 .bit-03{
	top:12.5%;
	left:31.25%;
}
.tile-0412 .bit-03:before{
	top:-200%;
	left:200%;
	width:100%;
	height:1600%;
}
.tile-0412 .bit-03:after{
	top:-200%;
	left:-100%;
	height:400%;
	width:100%;
}
.tile-0412 .bit-04{
	top:25%;
	left:81.25%;
}
.tile-0412 .bit-04:before{
	top:-200%;
	left:100%;
	width:100%;
	height:200%;
}
.tile-0412 .bit-04:after{
	top:100%;
	left:-100%;
	height:200%;
	width:100%;
}
.tile-0412 .bit-05{
	top:31.25%;
	left:31.25%;
}
.tile-0412 .bit-05:before{
	top:200%;
	left:-500%;
	width:500%;
	height:100%;
}
.tile-0412 .bit-05:after{
	top:1000%;
	left:-500%;
	height:100%;
	width:1600%;
}
.tile-0412 .bit-06{
	top:37.5%;
	left:31.25%;
}
.tile-0412 .bit-06:before{
	top:-300%;
	left:-500%;
	width:500%;
	height:100%;
}
.tile-0412 .bit-06:after{
	top:500%;
	left:-500%;
	height:100%;
	width:500%;
}
.tile-0412 .bit-07{
	top:56.25%;
	left:31.25%;
}
.tile-0412 .bit-07:before{
	left:800%;
	top:-200%;
	height:100%;
	width:200%;
}
.tile-0412 .bit-07:after{
	left:1000%;
	top:0;
	height:700%;
	width:100%;
}
.tile-0412 .bit-08{
	top:62.5%;
	left:31.25%;
}
.tile-0412 .bit-08:before{
	top:200%;
	left:-500%;
	width:500%;
	height:100%;
}
.tile-0412 .bit-08:after{
	top:-200%;
	left:-500%;
	width:500%;
	height:100%;
}
.tile-0412 .bit-09{
	top:18.75%;
	left:31.25%;
}
.tile-0412 .bit-09:before{
	top:-300%;
	left:-500%;
	width:100%;
	height:300%;
}
.tile-0412 .bit-09:after{
	top:-300%;
	left:-300%;
	width:100%;
	height:300%;
}
.tile-0412 .bit-10{
	top:43.75%;
	left:31.25%;
}
.tile-0412 .bit-10:before{
	top:-300%;
	left:-500%;
	width:100%;
	height:300%;
}
.tile-0412 .bit-10:after{
	top:-300%;
	left:-400%;
	width:400%;
	height:100%;
}
.tile-0412 .bit-11{
	top:68.75%;
	left:31.25%;
}
.tile-0412 .bit-11:before{
	top:-300%;
	left:-500%;
	width:100%;
	height:300%;
}
.tile-0412 .bit-11:after{
	top:100%;
	left:-500%;
	width:100%;
	height:300%;
}
.tile-0412 .bit-12{
	top:56.25%;
	left:50%;
}
.tile-0412 .bit-12:before{
	top:100%;
	left:0;
	width:100%;
	height:500%;
}
.tile-0412 .bit-12:after{
	top:-100%;
	left:100%;
	height:100%;
	width:600%;
}

.tile-0414:before{
	width:25%;
	height:100%;
	left:0;
	top:0;
}
.tile-0414:after{
	width:37.55%;
	height:100%;
	left:37.5%;
	top:0;
}
.tile-0414 .bit-01{
	top:0;
	left:93.75%;
}
.tile-0414 .bit-01:before{
	width:300%;
	left:-300%;
	height:1500%;
	top:0;
}
.tile-0414 .bit-01:after{
	left:-1100%;
	top:1200%;
	width:200%;
	height:300%;
}
.tile-0414 .bit-02{
	left:43.75%;
	top:0;
}
.tile-0414 .bit-02:before{
	width:100%;
	height:300%;
	top:100%;
	left:-100%;
}
.tile-0414 .bit-02:after{
	width:100%;
	height:200%;
	left:-700%;
	top:300%;
}
.tile-0414 .bit-03{
	left:75%;
	top:0;
}
.tile-0414 .bit-03:before{
	width:100%;
	left:-200%;
	height:700%;
	top:700%;
}
.tile-0414 .bit-03:after{
	height:200%;
	width:100%;
	left:-1200%;
	top:1000%;
}
.tile-0414 .bit-04{
	top:93.75%;
	left:18.75%;
}
.tile-0414 .bit-04:before{
	height:200%;
	width:100%;
	left:-200%;
	top:-100%;
}
.tile-0414 .bit-04:after{
	top:-300%;
	left:-100%;
	height:200%;
	width:100%;
}
.tile-0414 .bit-05{
	top:93.75%;
	left:37.5%;
}
.tile-0414 .bit-05:before{
	width:200%;
	left:500%;
	top:-900%;
	height:100%;
}
.tile-0414 .bit-05:after{
	width:100%;
	height:100%;
	left:200%;
	top:0;
}
.tile-0414 .bit-06{
	top:0;
	left:18.75%;
}
.tile-0414 .bit-06:before{
	width:100%;
	top:100%;
	left:100%;
	height:1000%;
}
.tile-0414 .bit-06:after{
	height:400%;
	width:100%;
	left:200%;
	top:0;
}
.tile-0414 .bit-07{
	top:0;
	left:37.5%;
}
.tile-0414 .bit-07:before{
	width:100%;
	top:800%;
	left:-300%;
	height:300%;
}
.tile-0414 .bit-07:after{
	height:200%;
	width:100%;
	left:-400%;
	top:1000%;
}
.tile-0414 .bit-08{
	top:93.75%;
	left:0;
}
.tile-0414 .bit-08:before{
	width:100%;
	top:-300%;
	left:100%;
	height:200%;
}
.tile-0414 .bit-08:after{
	height:200%;
	width:100%;
	left:600%;
	top:-500%;
}
.tile-0414 .bit-09{
	top:93.75%;
	left:43.75%;
}
.tile-0414 .bit-09:before{
	width:200%;
	top:-300%;
	left:100%;
	height:300%;
}
.tile-0414 .bit-09:after{
	height:200%;
	width:200%;
	left:200%;
	top:-100%;
}
.tile-0414 .bit-10{
	top:81.25%;
	left:43.75%;
}
.tile-0414 .bit-10:before{
	width:100%;
	top:-300%;
	left:200%;
	height:200%;
}
.tile-0414 .bit-10:after{
	height:600%;
	width:100%;
	left:700%;
	top:-300%;
}
.tile-0414 .bit-11{
	top:87.5%;
	left:93.75%;
}
.tile-0414 .bit-11:before{
	width:100%;
	top:-1200%;
	left:0;
	height:400%;
}
.tile-0414 .bit-11:after{
	height:300%;
	width:100%;
	left:0;
	top:-600%;
}
.tile-0414 .bit-12{
	top:6.25%;
	left:87.5%;
}
.tile-0414 .bit-12:before{
	width:100%;
	top:-100%;
	left:-100%;
	height:500%;
}
.tile-0414 .bit-12:after{
	height:200%;
	width:100%;
	left:-200%;
	top:0;
}
.tile-0414 .bit-13{
	top:68.75%;
	left:43.75%;
}
.tile-0414 .bit-13:before{
	width:200%;
	top:-1100%;
	left:300%;
	height:100%;
}
.tile-0414 .bit-13:after{
	height:200%;
	width:100%;
	left:600%;
	top:300%;
}
.tile-0414 .bit-14{
	top:37.5%;
	left:81.25%;
}
.tile-0414 .bit-14:before{
	width:100%;
	top:0;
	left:100%;
	height:200%;
}
.tile-0414 .bit-14:after{
	width:200%;
	top:900%;
	left:-900%;
	height:100%;
}
.tile-0414 .bit-15{
	left:18.75%;
	top:68.75%;
}
.tile-0414 .bit-15:before{
	width:100%;
	top:400%;
	left:800%;
	height:100%;
}

.tile-0415:before{
	width:31.25%;
	height:87.5%;
	left:12.5%;
	top:0;
}
.tile-0415:after{
	width:18.75%;
	height:37.5%;
	left:68.75%;
	top:0;
}
.tile-0415 .bit-01{
	top:0;
	left:6.25%;
}
.tile-0415 .bit-01:before{
	width:100%;
	height:200%;
	left:0;
	top:100%;
}
.tile-0415 .bit-01:after{
	width:100%;
	height:600%;
	left:0;
	top:400%;
}




.tile-0415 .bit-02{
	left:6.25%;
	top:87.5%;
}
.tile-0415 .bit-02:before{
	top:-400%;
	left:-100%;
	width:100%;
	height:500%;
}
.tile-0415 .bit-02:after{
	top:-1200%;
	left:100%;
	width:200%;
	height:100%;
}
.tile-0415 .bit-03{
	left:81.25%;
	top:0;
}
.tile-0415 .bit-03:before{
	top:0;
	left:100%;
	width:200%;
	height:300%;
}
.tile-0415 .bit-03:after{
	top:0;
	left:-500%;
	width:200%;
	height:800%;
}
.tile-0415 .bit-04{
	left:43.75%;
	top:0;
}
.tile-0415 .bit-04:before{
	top:800%;
	left:0;
	width:200%;
	height:400%;
}
.tile-0415 .bit-04:after{
	top:1300%;
	left:-400%;
	width:400%;
	height:100%;
}
.tile-0415 .bit-05{
	left:37.5%;
	top:75%;
}
.tile-0415 .bit-05:before{
	top:-900%;
	left:-200%;
	width:100%;
	height:1000%;
}
.tile-0415 .bit-05:after{
	top:1300%;
	left:-400%;
	width:400%;
	height:100%;
	/** NOTE **/
	display:none;
}
.tile-0415 .bit-06{
	left:43.75%;
	top:75%;
}
.tile-0415 .bit-06:before{
	width:200%;
	height:100%;
	top:-600%;
	left:300%;
}
.tile-0415 .bit-06:after{
	width:200%;
	height:100%;
	top:-700%;
	left:500%;
}
.tile-0415 .bit-07{
	left:87.5%;
	top:18.75%;
}
.tile-0415 .bit-07:before{
	width:100%;
	height:100%;
	top:100%;
	left:0;
}
.tile-0415 .bit-07:after{
	width:100%;
	height:700%;
	top:-200%;
	left:-700%;
}



.tile-0416:before{
	width:37.5%;
	height:93.75%;
	top:0;
	left:56.25%;
}
.tile-0416:after{
	width:37.5%;
	height:50%;
	top:43.75%;
	left:6.25%;
}
.tile-0416 .bit-01{
	top:0;
	left:0;
}
.tile-0416 .bit-01:before{
	width:600%;
	height:400%;
	left:100%;
	top:0;
}
.tile-0416 .bit-01:after{
	width:300%;
	height:100%;
	top:400%;
	left:200%;
}
.tile-0416 .bit-02{
	top:0;
	left:43.75%;
}
.tile-0416 .bit-02:before{
	width:100%;
	height:200%;
	left:-400%;
	top:500%;
}
.tile-0416 .bit-02:after{
	width:800%;
	height:100%;
	top:100%;
	left:-700%;
}
.tile-0416 .bit-03{
	left:31.25%;
	top:25%;
}
.tile-0416 .bit-03:before{
	width:1600%;
	height:100%;
	left:-500%;
	top:1100%;
}
.tile-0416 .bit-03:after{
	width:100%;
	height:200%;
	top:-200%;
	left:100%;
}
.tile-0416 .bit-04{
	left:56.25%;
	top:12.5%;
}
.tile-0416 .bit-04:before{
	width:500%;
	height:100%;
	left:100%;
	top:100%;
}
.tile-0416 .bit-04:after{
	width:500%;
	height:100%;
	top:500%;
	left:100%;
}
.tile-0416 .bit-05{
	left:50%;
	top:87.5%;
}
.tile-0416 .bit-05:before{
	width:100%;
	height:600%;
	left:-100%;
	top:-500%;
}
.tile-0416 .bit-05:after{
	width:500%;
	height:100%;
	top:400%;
	left:100%;
	/** NOTE **/
	display:none;
}
.tile-0416 .bit-06{
	left:25%;
	top:31.25%;
}
.tile-0416 .bit-06:before{
	width:100%;
	height:200%;
	left:500%;
	top:0;
}
.tile-0416 .bit-06:after{
	width:100%;
	height:300%;
	top:300%;
	left:500%;
}
.tile-0416 .bit-07{
	left:25%;
	top:37.5%;
}
.tile-0416 .bit-07:before{
	width:200%;
	height:100%;
	left:100%;
	top:100%;
}
.tile-0416 .bit-07:after{
	width:500%;
	height:100%;
	top:500%;
	left:600%;
}









.tile-0416 .bit-08{
	top:18.75%;
	left:56.25%;
}
.tile-0416 .bit-08:before{
	width:100%;
	top:-300%;
	left:-100%;
	height:1400%;
}
.tile-0416 .bit-08:after{
	width:100%;
	top:600%;
	left:-900%;
	height:600%;
}
.tile-0416 .bit-09{
	top:43.75%;
	left:56.25%;
}
.tile-0416 .bit-09:before{
	width:500%;
	top:100%;
	left:100%;
	height:100%;
}
.tile-0416 .bit-09:after{
	width:500%;
	top:500%;
	left:100%;
	height:100%;
}
.tile-0416 .bit-10{
	top:68.75%;
	left:56.25%;
}
.tile-0416 .bit-10:before{
	width:600%;
	top:-300%;
	left:-800%;
	height:100%;
}



.tile-0418:before{
	width:37.5%;
	height:93.75%;
	left:6.25%;
	top:0;
}
.tile-0418:after{
	width:37.5%;
	height:50%;
	left:56.25%;
	top:43.75%;
}
.tile-0418 .bit-01{
	top:25%;
	left:62.5%;
}
.tile-0418 .bit-01:before{
	width:800%;
	height:100%;
	left:-200%;
	top:-400%;
}
.tile-0418 .bit-01:after{
	width:500%;
	height:200%;
	left:-100%;
	top:-200%;
}
.tile-0418 .bit-02{
	top:25%;
	left:75%;
}
.tile-0418 .bit-02:before{
	width:100%;
	height:300%;
	left:-100%;
	top:0;
}
.tile-0418 .bit-02:after{
	top:-300%;
	left:-400%;
	width:800%;
	height:100%;
}
.tile-0418 .bit-03{
	top:12.5%;
	left:31.25%;
}
.tile-0418 .bit-03:before{
	top:-200%;
	left:200%;
	width:100%;
	height:1600%;
}
.tile-0418 .bit-03:after{
	top:-200%;
	left:-100%;
	height:400%;
	width:100%;
}
.tile-0418 .bit-04{
	top:25%;
	left:81.25%;
}
.tile-0418 .bit-04:before{
	top:-200%;
	left:100%;
	width:100%;
	height:200%;
}
.tile-0418 .bit-04:after{
	top:100%;
	left:-100%;
	height:200%;
	width:100%;
}
.tile-0418 .bit-05{
	top:31.25%;
	left:31.25%;
}
.tile-0418 .bit-05:before{
	top:200%;
	left:-500%;
	width:500%;
	height:100%;
}
.tile-0418 .bit-05:after{
	top:1000%;
	left:-500%;
	height:100%;
	width:1600%;
}
.tile-0418 .bit-06{
	top:37.5%;
	left:31.25%;
}
.tile-0418 .bit-06:before{
	top:-300%;
	left:-500%;
	width:500%;
	height:100%;
}
.tile-0418 .bit-06:after{
	top:500%;
	left:-500%;
	height:100%;
	width:500%;
}
.tile-0418 .bit-07{
	top:56.25%;
	left:31.25%;
}
.tile-0418 .bit-07:before{
	left:800%;
	top:-200%;
	height:100%;
	width:200%;
}
.tile-0418 .bit-07:after{
	left:1000%;
	top:0;
	height:700%;
	width:100%;
}
.tile-0418 .bit-08{
	top:62.5%;
	left:31.25%;
}
.tile-0418 .bit-08:before{
	top:200%;
	left:-500%;
	width:500%;
	height:100%;
}
.tile-0418 .bit-08:after{
	top:-200%;
	left:-500%;
	width:500%;
	height:100%;
}
.tile-0418 .bit-09{
	top:18.75%;
	left:31.25%;
}
.tile-0418 .bit-09:before{
	top:-300%;
	left:-500%;
	width:100%;
	height:300%;
}
.tile-0418 .bit-09:after{
	top:-300%;
	left:-300%;
	width:100%;
	height:300%;
}
.tile-0418 .bit-10{
	top:43.75%;
	left:31.25%;
}
.tile-0418 .bit-10:before{
	top:-300%;
	left:-500%;
	width:100%;
	height:300%;
}
.tile-0418 .bit-10:after{
	top:-300%;
	left:-400%;
	width:400%;
	height:100%;
}
.tile-0418 .bit-11{
	top:68.75%;
	left:31.25%;
}
.tile-0418 .bit-11:before{
	top:-300%;
	left:-500%;
	width:100%;
	height:300%;
}
.tile-0418 .bit-11:after{
	top:100%;
	left:-500%;
	width:100%;
	height:300%;
}
.tile-0418 .bit-12{
	top:56.25%;
	left:50%;
}
.tile-0418 .bit-12:before{
	top:100%;
	left:0;
	width:100%;
	height:500%;
}
.tile-0418 .bit-12:after{
	top:-100%;
	left:100%;
	height:100%;
	width:600%;
}