.tile-tree-right-top.tree-brown,
.tile-tree-right-top.tree-green{
	background-color: var(--color-khaki);
}
.tile-tree-right-top.tree-grey{
	background-color: var(--color-grey);
}
.tile-tree-right-top:before,
.tile-tree-right-top:after,
.tile-tree-right-top .bit-01,
.tile-tree-right-top .bit-01:before,
.tile-tree-right-top .bit-01:after{
	background-color: var(--color-black);
}
.tile-tree-right-top.tree-brown .bit-02,
.tile-tree-right-top.tree-brown .bit-02:before,
.tile-tree-right-top.tree-brown .bit-02:after,
.tile-tree-right-top.tree-brown .bit-03,
.tile-tree-right-top.tree-brown .bit-03:before,
.tile-tree-right-top.tree-brown .bit-03:after,
.tile-tree-right-top.tree-brown .bit-04,
.tile-tree-right-top.tree-brown .bit-04:before,
.tile-tree-right-top.tree-brown .bit-04:after,
.tile-tree-right-top.tree-brown .bit-05,
.tile-tree-right-top.tree-brown .bit-05:before,
.tile-tree-right-top.tree-brown .bit-05:after{
	background-color: var(--color-brown);
}
.tile-tree-right-top.tree-green .bit-02,
.tile-tree-right-top.tree-green .bit-02:before,
.tile-tree-right-top.tree-green .bit-02:after,
.tile-tree-right-top.tree-green .bit-03,
.tile-tree-right-top.tree-green .bit-03:before,
.tile-tree-right-top.tree-green .bit-03:after,
.tile-tree-right-top.tree-green .bit-04,
.tile-tree-right-top.tree-green .bit-04:before,
.tile-tree-right-top.tree-green .bit-04:after,
.tile-tree-right-top.tree-green .bit-05,
.tile-tree-right-top.tree-green .bit-05:before,
.tile-tree-right-top.tree-green .bit-05:after{
	background-color: var(--color-green);
}
.tile-tree-right-top.tree-grey .bit-02,
.tile-tree-right-top.tree-grey .bit-02:before,
.tile-tree-right-top.tree-grey .bit-02:after,
.tile-tree-right-top.tree-grey .bit-03,
.tile-tree-right-top.tree-grey .bit-03:before,
.tile-tree-right-top.tree-grey .bit-03:after,
.tile-tree-right-top.tree-grey .bit-04,
.tile-tree-right-top.tree-grey .bit-04:before,
.tile-tree-right-top.tree-grey .bit-04:after,
.tile-tree-right-top.tree-grey .bit-05,
.tile-tree-right-top.tree-grey .bit-05:before,
.tile-tree-right-top.tree-grey .bit-05:after{
	background-color: var(--color-white);
}


.tile-tree-right-top:before{
	width:50%;
	height:81.25%;
	top:18.75%;
	left:0;
}
.tile-tree-right-top:after{
	width:12.5%;
	height:12.5%;
	top:6.25%;
	left:31.25%;
}
.tile-tree-right-top .bit-01{
	top:0;
	left:37.5%;
}
.tile-tree-right-top .bit-01:before{
	width:100%;
	height:100%;
	top:200%;
	left:-200%;
}
.tile-tree-right-top .bit-01:after{
	width:200%;
	height:100%;
	top:200%;
	left:-600%;
}
.tile-tree-right-top .bit-02{
	top:31.25%;
	left:31.25%;
}
.tile-tree-right-top .bit-02:before{
	width:100%;
	height:600%;
	top:500%;
	left:-500%;
}
.tile-tree-right-top .bit-02:after{
	width:100%;
	height:500%;
	top:600%;
	left:200%;
}
.tile-tree-right-top .bit-03{
	top:37.5%;
	left:25%;
}
.tile-tree-right-top .bit-03:before{
	width:200%;
	height:200%;
	top:0;
	left:-400%;
}
.tile-tree-right-top .bit-03:after{
	width:200%;
	height:200%;
	top:100%;
	left:-100%;
}
.tile-tree-right-top .bit-04{
	top:93.75%;
	left:18.75%;
}
.tile-tree-right-top .bit-04:before{
	top:-700%;
	left:-200%;
	width:300%;
	height:400%;
}
.tile-tree-right-top .bit-04:after{
	top:-300%;
	left:-100%;
	width:100%;
	height:400%;
}
.tile-tree-right-top .bit-05{
	top:87.5%;
	left:25%;
}
.tile-tree-right-top .bit-05:before{
	top:-200%;
	left:-100%;
	width:100%;
	height:100%;
}
.tile-tree-right-top .bit-05:after{
	top:-200%;
	left:0;
	width:100%;
	height:200%;
}