.tile-dungeon-09c.level-01-gsarchives{
	background-color:var(--color-underground-grey);
}
.tile-dungeon-09c.level-01-gsarchives:before,
.tile-dungeon-09c.level-01-gsarchives .bit-01,
.tile-dungeon-09c.level-01-gsarchives .bit-01:before{
	background-color:var(--color-underground-grey-dark);
}
.tile-dungeon-09c.level-01-gsarchives:after,
.tile-dungeon-09c.level-01-gsarchives .bit-01:after,
.tile-dungeon-09c.level-01-gsarchives .bit-02{
	background-color:var(--color-underground-blue-light);
}
/** display:none;s **/
.tile-dungeon-09c .bit-02:before,
.tile-dungeon-09c .bit-02:after{
	display:none;
}


.tile-dungeon-09c:before{
	width:100%;
	height:6.25%;
	top:75%;
	left:0;
}
.tile-dungeon-09c:after{
	width:100%;
	height:6.25%;
	top:68.75%;
	left:0;
}
.tile-dungeon-09c .bit-01{
	top:50%;
	left:68.75%;
}
.tile-dungeon-09c .bit-01:before{
	width:100%;
	height:300%;
	top:100%;
	left:-100%;
}
.tile-dungeon-09c .bit-01:after{
	width:100%;
	height:300%;
	top:100%;
	left:0;
}
.tile-dungeon-09c .bit-02{
	top:50%;
	left:75%;
}
