.tile-u-brick-side.level-01{
	background-color:var(--color-underground-grey);
}
.tile-u-brick-side.level-01:before,
.tile-u-brick-side.level-01:after,
.tile-u-brick-side.level-01 .bit-01,
.tile-u-brick-side.level-01 .bit-01:before,
.tile-u-brick-side.level-01 .bit-01:after,
.tile-u-brick-side.level-01 .bit-03:before,
.tile-u-brick-side.level-01 .bit-03:after,
.tile-u-brick-side.level-01 .bit-04,
.tile-u-brick-side.level-01 .bit-04:before,
.tile-u-brick-side.level-01 .bit-04:after{
	background-color:var(--color-underground-grey-dark);
}
.tile-u-brick-side.level-01 .bit-02,
.tile-u-brick-side.level-01 .bit-02:before,
.tile-u-brick-side.level-01 .bit-02:after,
.tile-u-brick-side.level-01 .bit-03{
	background-color:var(--color-underground-blue-light);
}

.tile-u-brick-side.level-01-gsarchives{
	background-color:var(--color-u-grey);
}
.tile-u-brick-side.level-01-gsarchives:before,
.tile-u-brick-side.level-01-gsarchives:after,
.tile-u-brick-side.level-01-gsarchives .bit-01,
.tile-u-brick-side.level-01-gsarchives .bit-01:before,
.tile-u-brick-side.level-01-gsarchives .bit-01:after,
.tile-u-brick-side.level-01-gsarchives .bit-03:before,
.tile-u-brick-side.level-01-gsarchives .bit-03:after,
.tile-u-brick-side.level-01-gsarchives .bit-04,
.tile-u-brick-side.level-01-gsarchives .bit-04:before,
.tile-u-brick-side.level-01-gsarchives .bit-04:after{
	background-color:var(--color-u-grey-dark);
}
.tile-u-brick-side.level-01-gsarchives .bit-02,
.tile-u-brick-side.level-01-gsarchives .bit-02:before,
.tile-u-brick-side.level-01-gsarchives .bit-02:after,
.tile-u-brick-side.level-01-gsarchives .bit-03{
	background-color:var(--color-u-grey-light);
}
.tile-u-brick-side.level-02{
	background-color:var(--color-underground-purple);
}
.tile-u-brick-side.level-02:before,
.tile-u-brick-side.level-02:after,
.tile-u-brick-side.level-02 .bit-01,
.tile-u-brick-side.level-02 .bit-01:before,
.tile-u-brick-side.level-02 .bit-01:after,
.tile-u-brick-side.level-02 .bit-03:before,
.tile-u-brick-side.level-02 .bit-03:after,
.tile-u-brick-side.level-02 .bit-04,
.tile-u-brick-side.level-02 .bit-04:before,
.tile-u-brick-side.level-02 .bit-04:after{
	background-color:var(--color-underground-blue-dark);
}
.tile-u-brick-side.level-02 .bit-02,
.tile-u-brick-side.level-02 .bit-02:before,
.tile-u-brick-side.level-02 .bit-02:after,
.tile-u-brick-side.level-02 .bit-03{
	background-color:var(--color-underground-blue-light-level-02);
}
.tile-u-brick-side.level-03{
	background-color:var(--color-underground-green);
}
.tile-u-brick-side.level-03:before,
.tile-u-brick-side.level-03:after,
.tile-u-brick-side.level-03 .bit-01,
.tile-u-brick-side.level-03 .bit-01:before,
.tile-u-brick-side.level-03 .bit-01:after,
.tile-u-brick-side.level-03 .bit-03:before,
.tile-u-brick-side.level-03 .bit-03:after,
.tile-u-brick-side.level-03 .bit-04,
.tile-u-brick-side.level-03 .bit-04:before,
.tile-u-brick-side.level-03 .bit-04:after{
	background-color:var(--color-underground-brown);
}
.tile-u-brick-side.level-03 .bit-02,
.tile-u-brick-side.level-03 .bit-02:before,
.tile-u-brick-side.level-03 .bit-02:after,
.tile-u-brick-side.level-03 .bit-03{
	background-color:var(--color-underground-green-light);
}
.tile-u-brick-side.level-04{
	background-color:var(--color-underground-green-level-04);
}
.tile-u-brick-side.level-04:before,
.tile-u-brick-side.level-04:after,
.tile-u-brick-side.level-04 .bit-01,
.tile-u-brick-side.level-04 .bit-01:before,
.tile-u-brick-side.level-04 .bit-01:after,
.tile-u-brick-side.level-04 .bit-03:before,
.tile-u-brick-side.level-04 .bit-03:after,
.tile-u-brick-side.level-04 .bit-04,
.tile-u-brick-side.level-04 .bit-04:before,
.tile-u-brick-side.level-04 .bit-04:after{
	background-color:var(--color-underground-brown-level-04);
}
.tile-u-brick-side.level-04 .bit-02,
.tile-u-brick-side.level-04 .bit-02:before,
.tile-u-brick-side.level-04 .bit-02:after,
.tile-u-brick-side.level-04 .bit-03{
	background-color:var(--color-underground-green-light-level-04);
}
.tile-u-brick-side.level-05{
	background-color:var(--color-underground-green-level-05);
}
.tile-u-brick-side.level-05:before,
.tile-u-brick-side.level-05:after,
.tile-u-brick-side.level-05 .bit-01,
.tile-u-brick-side.level-05 .bit-01:before,
.tile-u-brick-side.level-05 .bit-01:after,
.tile-u-brick-side.level-05 .bit-03:before,
.tile-u-brick-side.level-05 .bit-03:after,
.tile-u-brick-side.level-05 .bit-04,
.tile-u-brick-side.level-05 .bit-04:before,
.tile-u-brick-side.level-05 .bit-04:after{
	background-color:var(--color-underground-brown-level-05-07);
}
.tile-u-brick-side.level-05 .bit-02,
.tile-u-brick-side.level-05 .bit-02:before,
.tile-u-brick-side.level-05 .bit-02:after,
.tile-u-brick-side.level-05 .bit-03{
	background-color:var(--color-underground-green-light-level-05-07);
}
.tile-u-brick-side.level-06{
	background-color:var(--color-underground-green-alt);
}
.tile-u-brick-side.level-06:before,
.tile-u-brick-side.level-06:after,
.tile-u-brick-side.level-06 .bit-01,
.tile-u-brick-side.level-06 .bit-01:before,
.tile-u-brick-side.level-06 .bit-01:after,
.tile-u-brick-side.level-06 .bit-03:before,
.tile-u-brick-side.level-06 .bit-03:after,
.tile-u-brick-side.level-06 .bit-04,
.tile-u-brick-side.level-06 .bit-04:before,
.tile-u-brick-side.level-06 .bit-04:after{
	background-color:var(--color-underground-brown-red);
}
.tile-u-brick-side.level-06 .bit-02,
.tile-u-brick-side.level-06 .bit-02:before,
.tile-u-brick-side.level-06 .bit-02:after,
.tile-u-brick-side.level-06 .bit-03{
	background-color:var(--color-underground-green-light-alt);
}
.tile-u-brick-side.level-07{
	background-color:var(--color-underground-orange-green);
}
.tile-u-brick-side.level-07:before,
.tile-u-brick-side.level-07:after,
.tile-u-brick-side.level-07 .bit-01,
.tile-u-brick-side.level-07 .bit-01:before,
.tile-u-brick-side.level-07 .bit-01:after,
.tile-u-brick-side.level-07 .bit-03:before,
.tile-u-brick-side.level-07 .bit-03:after,
.tile-u-brick-side.level-07 .bit-04,
.tile-u-brick-side.level-07 .bit-04:before,
.tile-u-brick-side.level-07 .bit-04:after{
	background-color:var(--color-underground-brown-level-05-07);
}
.tile-u-brick-side.level-07 .bit-02,
.tile-u-brick-side.level-07 .bit-02:before,
.tile-u-brick-side.level-07 .bit-02:after,
.tile-u-brick-side.level-07 .bit-03{
	background-color:var(--color-underground-green-light-level-05-07);
}
.tile-u-brick-side.level-08{
	background-color:var(--color-underground-grey-89);
}
.tile-u-brick-side.level-08:before,
.tile-u-brick-side.level-08:after,
.tile-u-brick-side.level-08 .bit-01,
.tile-u-brick-side.level-08 .bit-01:before,
.tile-u-brick-side.level-08 .bit-01:after,
.tile-u-brick-side.level-08 .bit-03:before,
.tile-u-brick-side.level-08 .bit-03:after,
.tile-u-brick-side.level-08 .bit-04,
.tile-u-brick-side.level-08 .bit-04:before,
.tile-u-brick-side.level-08 .bit-04:after{
	background-color:var(--color-underground-grey-dark-alt);
}
.tile-u-brick-side.level-08 .bit-02,
.tile-u-brick-side.level-08 .bit-02:before,
.tile-u-brick-side.level-08 .bit-02:after,
.tile-u-brick-side.level-08 .bit-03{
	background-color:var(--color-underground-white);
}
.tile-u-brick-side.level-09{
	background-color:var(--color-underground-grey-89);
}
.tile-u-brick-side.level-09:before,
.tile-u-brick-side.level-09:after,
.tile-u-brick-side.level-09 .bit-01,
.tile-u-brick-side.level-09 .bit-01:before,
.tile-u-brick-side.level-09 .bit-01:after,
.tile-u-brick-side.level-09 .bit-03:before,
.tile-u-brick-side.level-09 .bit-03:after,
.tile-u-brick-side.level-09 .bit-04,
.tile-u-brick-side.level-09 .bit-04:before,
.tile-u-brick-side.level-09 .bit-04:after{
	background-color:var(--color-underground-grey-dark-alt);
}
.tile-u-brick-side.level-09 .bit-02,
.tile-u-brick-side.level-09 .bit-02:before,
.tile-u-brick-side.level-09 .bit-02:after,
.tile-u-brick-side.level-09 .bit-03{
	background-color:var(--color-underground-white);
}










.tile.tile-u-brick-side .bit{
	width:6.25%;
	height:6.25%;
}


.tile-u-brick-side:before{
	height:6.25%;
	width:50%;
	top:18.75%;
	left:0%;
}
.tile-u-brick-side:after{
	height:6.25%;
	width:50%;
	top:43.75%;
	left:0%;
}
.tile-u-brick-side .bit-01{
	top:0;
	left:6.25%;
}
.tile-u-brick-side .bit-01:before{
	width:100%;
	height:200%;
	left:0;
	top:100%;
}
.tile-u-brick-side .bit-01:after{
	width:100%;
	height:300%;
	left:400%;
	top:400%;
}
.tile-u-brick-side .bit-02{
	top:0;
	left:12.5%;
}
.tile-u-brick-side .bit-02:before{
	width:100%;
	height:100%;
	left:400%;
	top:400%;
}
.tile-u-brick-side .bit-02:after{
	width:100%;
	height:100%;
	left:0;
	top:800%;
}
.tile-u-brick-side .bit-03{
	top:75%;
	left:37.5%;
}
.tile-u-brick-side .bit-03:before{
	width:100%;
	height:300%;
	left:-500%;
	top:-400%;
}
.tile-u-brick-side .bit-03:after{
	width:100%;
	height:300%;
	left:-100%;
	top:0;
}
.tile-u-brick-side .bit-04{
	top:93.75%;
	left:0;
}
.tile-u-brick-side .bit-04:before{
	width:800%;
	height:100%;
	left:0;
	top:-400%;
}
.tile-u-brick-side .bit-04:after{
	width:700%;
	height:100%;
	left:100%;
	top:0;
}