.tile-dungeon-03d.level-01-gsarchives{
	background-color:var(--color-underground-grey);
}
.tile-dungeon-03d.level-01-gsarchives:before,
.tile-dungeon-03d.level-01-gsarchives .bit-01,
.tile-dungeon-03d.level-01-gsarchives .bit-01:before,
.tile-dungeon-03d.level-01-gsarchives .bit-01:after,
.tile-dungeon-03d.level-01-gsarchives .bit-02,
.tile-dungeon-03d.level-01-gsarchives .bit-02:before,
.tile-dungeon-03d.level-01-gsarchives .bit-02:after,
.tile-dungeon-03d.level-01-gsarchives .bit-03,
.tile-dungeon-03d.level-01-gsarchives .bit-03:before{
	background-color:var(--color-underground-grey-dark);
}
.tile-dungeon-03d.level-01-gsarchives:after,
.tile-dungeon-03d.level-01-gsarchives .bit-04,
.tile-dungeon-03d.level-01-gsarchives .bit-04:before,
.tile-dungeon-03d.level-01-gsarchives .bit-04:after,
.tile-dungeon-03d.level-01-gsarchives .bit-05,
.tile-dungeon-03d.level-01-gsarchives .bit-05:before,
.tile-dungeon-03d.level-01-gsarchives .bit-05:after,
.tile-dungeon-03d.level-01-gsarchives .bit-06,
.tile-dungeon-03d.level-01-gsarchives .bit-06:before{
	background-color:var(--color-underground-blue-light);
}
/** display:none;s **/
.tile-dungeon-03d.level-01-gsarchives .bit-03:after,
.tile-dungeon-03d.level-01-gsarchives .bit-06:after{
	display:none;
}

.tile-dungeon-03d:before{
	width:6.25%;
	height:100%;
	top:0;
	left:25%;
}
.tile-dungeon-03d:after{
	width:6.25%;
	height:100%;
	top:0;
	left:18.75%;
}
.tile-dungeon-03d.level-01-gsarchives .bit-01{
	left:0;
	top:18.75%;
}
.tile-dungeon-03d.level-01-gsarchives .bit-01:before{
	width:200%;
	height:100%;
	top:-100%;
	left:100%;
}
.tile-dungeon-03d.level-01-gsarchives .bit-01:after{
	width:300%;
	height:100%;
	left:1300%;
	top:500%;
}
.tile-dungeon-03d.level-01-gsarchives .bit-02{
	left:31.25%;
	top:75%;
}
.tile-dungeon-03d.level-01-gsarchives .bit-02:before{
	width:200%;
	height:100%;
	top:-100%;
	left:200%;
}
.tile-dungeon-03d.level-01-gsarchives .bit-02:after{
	width:200%;
	height:100%;
	left:400%;
	top:-200%;
}
.tile-dungeon-03d.level-01-gsarchives .bit-03{
	top:75%;
	left:37.5%;
}
.tile-dungeon-03d.level-01-gsarchives .bit-03:before{
	width:200%;
	height:100%;
	top:-300%;
	left:500%;
}
.tile-dungeon-03d.level-01-gsarchives .bit-04{
	left:0;
	top:25%;
}
.tile-dungeon-03d.level-01-gsarchives .bit-04:before{
	width:200%;
	height:100%;
	top:-100%;
	left:100%;
}
.tile-dungeon-03d.level-01-gsarchives .bit-04:after{
	width:300%;
	height:100%;
	left:1300%;
	top:500%;
}
.tile-dungeon-03d.level-01-gsarchives .bit-05{
	left:31.25%;
	top:81.25%;
}
.tile-dungeon-03d.level-01-gsarchives .bit-05:before{
	width:200%;
	height:100%;
	top:-100%;
	left:200%;
}
.tile-dungeon-03d.level-01-gsarchives .bit-05:after{
	width:200%;
	height:100%;
	left:400%;
	top:-200%;
}
.tile-dungeon-03d.level-01-gsarchives .bit-06{
	top:81.25%;
	left:37.5%;
}
.tile-dungeon-03d.level-01-gsarchives .bit-06:before{
	width:200%;
	height:100%;
	top:-300%;
	left:500%;
}