.tile-dungeon-01m.level-01-gsarchives{
	background-color:var(--color-underground-grey);
}
.tile-dungeon-01m.level-01-gsarchives:before,
.tile-dungeon-01m.level-01-gsarchives .bit-01,
.tile-dungeon-01m.level-01-gsarchives .bit-01:before,
.tile-dungeon-01m.level-01-gsarchives .bit-01:after,
.tile-dungeon-01m.level-01-gsarchives .bit-02,
.tile-dungeon-01m.level-01-gsarchives .bit-02:before,
.tile-dungeon-01m.level-01-gsarchives .bit-02:after{
	background-color:var(--color-underground-grey-dark);
}
.tile-dungeon-01m.level-01-gsarchives:after,
.tile-dungeon-01m.level-01-gsarchives .bit-03,
.tile-dungeon-01m.level-01-gsarchives .bit-03:before,
.tile-dungeon-01m.level-01-gsarchives .bit-03:after,
.tile-dungeon-01m.level-01-gsarchives .bit-04,
.tile-dungeon-01m.level-01-gsarchives .bit-04:before,
.tile-dungeon-01m.level-01-gsarchives .bit-04:after{
	background-color:var(--color-underground-blue-light);
}

.tile-dungeon-01m:before{
	width:100%;
	height:6.25%;
	top:68.75%;
	left:0;
}
.tile-dungeon-01m:after{
	width:100%;
	height:6.25%;
	top:75%;
	left:0;
}
.tile-dungeon-01m .bit-01{
	top:62.5%;
	left:62.5%;
}
.tile-dungeon-01m .bit-01:before{
	width:100%;
	height:200%;
	top:-300%;
	left:100%;
}
.tile-dungeon-01m .bit-01:after{
	width:100%;
	height:200%;
	top:-500%;
	left:200%;
}
.tile-dungeon-01m .bit-02{
	top:56.25%;
	left:62.5%;
}
.tile-dungeon-01m .bit-02:before{
	width:100%;
	height:200%;
	top:-600%;
	left:300%;
}
.tile-dungeon-01m .bit-02:after{
	width:100%;
	height:300%;
	top:-900%;
	left:400%;
}
.tile-dungeon-01m:after{
	width:100%;
	height:6.25%;
	top:75%;
	left:0;
}
.tile-dungeon-01m .bit-03{
	top:62.5%;
	left:68.75%;
}
.tile-dungeon-01m .bit-03:before{
	width:100%;
	height:200%;
	top:-300%;
	left:100%;
}
.tile-dungeon-01m .bit-03:after{
	width:100%;
	height:200%;
	top:-500%;
	left:200%;
}
.tile-dungeon-01m .bit-04{
	top:56.25%;
	left:68.75%;
}
.tile-dungeon-01m .bit-04:before{
	width:100%;
	height:200%;
	top:-600%;
	left:300%;
}
.tile-dungeon-01m .bit-04:after{
	width:100%;
	height:300%;
	top:-900%;
	left:400%;
}