/** underworld-dungeon-row-10-l.css **/
	
/**
	--color-underground-blue-light
**/

.tile-dungeon-10l.level-01-gsarchives{
	background-color:var(--color-underground-grey);
}
.tile-dungeon-10l.level-01-gsarchives:before,
.level-01-gsarchives .bit-01,
.level-01-gsarchives .bit-01:before{
	background-color:var(--color-underground-grey-dark);
}
.tile-dungeon-10l.level-01-gsarchives:after,
.level-01-gsarchives .bit-01:after,
.level-01-gsarchives .bit-02{
	background-color:var(--color-underground-blue-light);
}
/** display:none;s **/
.tile-dungeon-10l .bit-02:before,
.tile-dungeon-10l .bit-02:after{
	display:none;
}
.tile-dungeon-10l:before{
	width:100%;
	height:6.25%;
	top:25%;
	left:0;
}
.tile-dungeon-10l:after{
	width:100%;
	height:6.25%;
	top:18.75%;
	left:0;
}
.tile-dungeon-10l .bit-01{
	top:0;
	left:18.75%;
}
.tile-dungeon-10l .bit-01:before{
	top:100%;
	left:100%;
	width:100%;
	height:300%;
}
.tile-dungeon-10l .bit-01:after{
	top:100%;
	left:200%;
	width:100%;
	height:200%;
}
.tile-dungeon-10l .bit-02{
	top:0;
	left:25%;
}