.tile-dungeon-door-bombed-west .bit-07:after{
	display:none;
}


.tile-dungeon-door-bombed-west{
	position:absolute;
}
.s512 .tile-dungeon-door-bombed-west{
	width:64px;
	height:64px;
	top:96px;
	width:32px;
	height:32px;
	top:48px;
}
.s512 .tile-dungeon-door-bombed-west{
	left:32px;
	left:16px;
}


.tile-dungeon-door-bombed-west:before{
	width:50%;
	height:100%;
	left:0;
	top:0;
}
.tile-dungeon-door-bombed-west:after{
	width:25%;
	height:62.5%;
	left:25%;
	top:18.75%;
}
.tile-dungeon-door-bombed-west .bit-01{
	top:6.25%;
	left:25%;
}
.tile-dungeon-door-bombed-west .bit-01:before{
	top:-100%;
	left:-200%;
	height:100%;
	width:200%;
}
.tile-dungeon-door-bombed-west .bit-01:after{
	top:200%;
	left:-200%;
	height:100%;
	width:300%;
}
.tile-dungeon-door-bombed-west .bit-02{
	top:12.5%;
	left:6.25%;
}
.tile-dungeon-door-bombed-west .bit-02:before{
	top:-100%;
	left:500%;
	height:200%;
	width:200%;
}
.tile-dungeon-door-bombed-west .bit-02:after{
	top:1100%;
	left:500%;
	height:200%;
	width:200%;
}
.tile-dungeon-door-bombed-west .bit-03{
	top:6.25%;
	left:0;
}
.tile-dungeon-door-bombed-west .bit-03:before{
	top:400%;
	left:300%;
	height:600%;
	width:100%;
}
.tile-dungeon-door-bombed-west .bit-03:after{
	top:1400%;
	left:100%;
	height:100%;
	width:300%;
}
.tile-dungeon-door-bombed-west .bit-04{
	top:12.5%;
	left:6.25%;
}
.tile-dungeon-door-bombed-west .bit-04:before{
	top:1000%;
	left:0;
	height:100%;
	width:100%;
}
.tile-dungeon-door-bombed-west .bit-04:after{
	top:900%;
	left:100%;
	height:100%;
	width:100%;
}
.tile-dungeon-door-bombed-west .bit-05{
	top:18.75%;
	left:0; 
}
.tile-dungeon-door-bombed-west .bit-05:before{
	top:1100%;
	left:400%;
	height:100%;
	width:100%;
}
.tile-dungeon-door-bombed-west .bit-05:after{
	top:1000%;
	left:500%;
	height:100%;
	width:100%;
}
.tile-dungeon-door-bombed-west .bit-06{
	top:37.5%;
	left:6.25%;
}
.tile-dungeon-door-bombed-west .bit-06:before{
	top:100%;
	left:100%;
	height:100%;
	width:100%;
}
.tile-dungeon-door-bombed-west .bit-06:after{
	top:200%;
	left:0;
	height:100%;
	width:200%;
}
.tile-dungeon-door-bombed-west .bit-07{
	top:56.25%;
	left:0;
}
.tile-dungeon-door-bombed-west .bit-07:before{
	top:-700%;
	left:500%;
	height:100%;
	width:100%; 
}