.tile-dungeon-09k.level-01-gsarchives{
	background-color:var(--color-underground-grey);
}
.tile-dungeon-09k.level-01-gsarchives:before{
	background-color:var(--color-underground-grey-dark);
}
.tile-dungeon-09k.level-01-gsarchives:after{
	background-color:var(--color-underground-blue-light);
}
.tile-dungeon-09k:before{
	width:100%;
	height:6.25%;
	top:75%;
	left:0;
}
.tile-dungeon-09k:after{
	width:100%;
	height:6.25%;
	top:68.75%;
	left:0;
}